<!DOCTYPE html>
<html>
<head>
<title>Change Email</title>
</head>
<body>
    <div class = "body-container">
        <div class="main-content">
            <div class="title">
                Change Email
            </div>
            <form>
                <label>Current email: Abracadabra@123.com</label>
                <label>New email:</label>
                <input type="email" name="email" value="New email" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
