<!DOCTYPE html>
<html>
<head>
<title>Change Profile Name</title>
</head>
<body>
    <div class = "body-container">
        <div class="main-content">
            <div class="title">
                Change Profile Name
            </div>
            <form>
                <label>Current profile name: Abracadabra</label>
                <label>New profile name:</label>
                <input type="text" name="profile-name" value="New profile name" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
