<!DOCTYPE html>
<html>
<head>
<title>Change Email</title>
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
        <tbody style="padding: 0; margin: 0;">
        <tr>
            <!-- Left Part -->
            <td>
                <table style="padding: 0; margin: 0;">
                    <tr>
                        <td class="headerCellPadding">
                            <div class="logo"></div>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerSelected">Home</a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected">Discover</a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected">Search</a>
                        </td>
                    </tr>
                </table>
            </td>
            <!-- Right Part -->
            <td style="width: 5em;">
                <table style="padding: 0; margin: 0; align: right;">
                    <tr style="align: right;">
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected"><i class='fas fa-user-circle headerIcon'></i></a>
                        </td>
                        <td class="headerCellPadding"></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class = "body-container">
        <div class="main-content">
            <div class="title">
                Change Email
            </div>
            <form>
                <label>Current email: Abracadabra@123.com</label>
                <label>New email:</label>
                <input type="email" name="email" value="New email" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
