<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
</head>
<body>
    <div class = "body-container">
        <div class="main-content">
            <div class="title">
                Change Password
            </div>
            <form>
                <label>New password:</label>
                <input type="password" name="password" value="New password" required>
                <label>Confirm new password:</label>
                <input type="password" name="cf-password" value="Confirm new password" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
