<!DOCTYPE html>
<html>
<head>
<title>My Info</title>
</head>
<body>
    <div class = "body-container">
        <div class="main-content">
            <div class="profile picture">
                <!-- it should be a profile picture here -->
            </div>
            <div class="change-profile-picture">
                <!-- an hyper link to the change page -->
                <a>Change profile picture</a> 
            </div>
            <div class="profile-name">Abracadabra</div>
            <div class="change-profile-name"><a>Change profile</a></div>
            <div class="email">abc@123.com</div>
            <div class="change-email"><a>Change Email address</a></div>
            <div class="change-passowrd"><a>Change Password</a></div>
            <div class="account-status">Account Status: Member </div>
            <div class="change-member-status"><a>update to premium</a></div>
        </div>
    </div>
            



</body>
</html>
