<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<div class = "body-container">
    <div class="main-content">
        <div class="profile-session">
            <div class="profile-picture">
            </div>
            <div class="username">
                Acabracabra
            </div>
            <div class="flowing-folower">
                <div class="follwing-number">
                    Following: 123
                </div>
                |
                <div class="follower-number">
                    Follower: 321
                </div>
            </div>
        </div>
        <div class="button-session">
            <div class="subscriptions-button">
                <p>158</p>
                <div class="subscription-number"></div>
            </div>
            <div class="posts-button">
                <p>Posts</p>
                <div class="posts-number">15</div>
            </div>
            <div class="series-button">
                <p>Series</p>
                <div class="series-number">3</div>
            </div>
            <div class="stars-button">
                <p>Starts</p>
                <div class="stars-number">89</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>