<!DOCTYPE html>
<html>
<head>
<title>Search Result</title>
</head>
<body>

<div class = "body-container">
    <div class="main-content">
        <div class="posts">
            <div class="poster-info">
                <div class="posts-profile-picture"></div>
                <div class="posts-poster-name">Abracadabra</div>
                <div class="posts-date">4/16/2019</div>
            </div>
            <div class="post-pictures"></div>
            <div class="post-reaction">
                <div class="forward">Foward(155)</div>
                <div class="coment">Coment(233)</div>
                <div class="starts">Starts(16)</div>
                <div class="likes">Like(89)</div>
                <div class="more">
                    <div class="more-report">Report</div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side-bar">
        <div calss="first-session">
            <div class="following">Following: 133</div>
            <div class="follower">Follower: 221</div>
            <div class="post">Post: 888</div>
        </div>
        <div class="second-session">
            <div class="single-button">
                Single
            </div>
            <div class="series-button">
                Series
            </div>
            <div class="start-button">
                Stars
            </div>
        </div>
        <div class="third-session">
            <div class="third-session-title">
                Top Search:
            </div>
            <div class="top-key-word">#1</div>
            <div class="top-key-word">#2</div>
            <div class="top-key-word">#3</div>
            <div class="top-key-word">#4</div>
            <div class="top-key-word">#5</div>
            <div class="top-key-word">#6</div>
            <div class="top-key-word">#7</div>
            <div class="top-key-word">#8</div>
            <div class="top-key-word">#9</div>
            <div class="top-key-word">#10</div>

        </div>
    </div>

</div>
</body>
</html>