<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Series - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/createSeries.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    </tbody>
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="/notification" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->
<div style="margin: 3em 27.5%; background: rgba(255,255,255,0.85); border-radius: 5px;" class="webfont">
    <div class="create-series-inner-container">
        <!-- Header -->
        <div class="create-series-title semibold">Create Series</div>
        <form action="createSeriesForm"  method="post">
            <!-- Title -->
            <div class="series-title semibold">Title</div>
            <input type="text" name="title" placeholder="Enter Title Here" class="create-series-textfield" maxlength="24" required>
            <div style="padding: 0.5em;"></div>
            <!-- Description -->
            <div class="series-title semibold">Description</div>
            <textarea type="text" name = "description" placeholder="Enter Description Here (Optional)" maxlength="100"
                      class="create-series-textfield"></textarea>
            <div style="padding: 0.25em;"></div>
            <!-- Genre -->
            <div class="series-title semibold">Genre</div>
            <table style="border-spacing: 0; width: 100%">
                <col width="4%"/>
                <col width="14%"/>
                <col width="30%"/>
                <col width="4%"/>
                <col width="18%"/>
                <col width="30%"/>
                <tr>
                    <td></td>
                    <td>
                        Primary:
                    </td>
                    <td>
                        <select name="genre1" style="width: 100%; font-size: 1em;">
                            <option th:each="list:${genreList}" th:value="${list}" th:text="${list}"></option>
                        </select>
                    </td>
                    <td></td>
                    <td>
                        Secondary:
                    </td>
                    <td>
                        <select name="genre2" style="width: 100%; font-size: 1em;">
                            <option th:each="list:${genreList}" th:value="${list}" th:text="${list}"></option>
                        </select>
                    </td>
                </tr>
            </table>


            <div style="padding: 0.25em;"></div>
            <!-- Options -->
            <div style="padding: 0.75em;"></div>
            <div class="series-title semibold">Setting</div>
            <div>
                <table style="border-spacing: 0; width: 100%">
                    <col width="4%"/>
                    <col width="32%"/>
                    <col width="32%"/>
                    <col width="32%"/>
                    <tr>
                        <td></td>
                        <td>
                            Open For Wiki:
                        </td>
                        <td style="text-align: center">
                            <input type="radio" name="wiki" value="Yes"/> Yes
                        </td>
                        <td style="text-align: center">
                            <input type="radio" checked="checked" name="wiki" value="No"/> No
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Error -->
            <div style="padding: 1em; text-align: center;" class="error-color">

            </div>
            <!-- Button -->
            <table style="border-spacing: 0; width: 100%">
                <col width="50%"/>
                <col width="50%"/>
                <tr>
                    <td style="text-align: left">
                        <a href="/mainPage" class="cancel-button">Cancel</a>
                    </td>
                    <td style="text-align: right">
                        <input type="submit" value="Create" class="create-button">
                    </td>
                </tr>
            </table>
            <div style="padding: 0.25em;"></div>
        </form>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div style="padding: 2em;"></div>
</body>
</html>