<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Post - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/createPost.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->
<div style="padding: 3em 30%;" class="webfont semibold">
    <div class="option-title">
        Create Post
    </div>
    <div style="text-align: center; vertical-align: middle;">
        <a href="/drawing" target="_blank" class="option-button"> Draw From Scratch </a>
    </div>
    <div style="text-align: center; vertical-align: middle;">
        <a href="/uploadPost2" class="option-button"> Upload Existing </a>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->
</body>
</html>