<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Discover - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/dropdown_menu.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){

        })

        function linkForTopSearch(link) {
            var keyword = link.id.substring(2);
            document.getElementById('TSForm' + keyword).submit();
        }

        function followAUser(username) {
            $.ajax({
                type : "POST",
                url : 'singlepostReport',
                data:{postID:postID,reason:reason},
                cache : false,
                success : function(data) {
                    if(data == "Report has been sent. Please wait for our reply."){
                        alert(data)
                        location.reload();

                    }
                    else {
                        alert(data)
                    }
                },
                error: function(){
                    alert(arguments[1]);
                }
            });
        }
        function reportAPost(postID) {
            var reason = prompt("Please describe the reason:","");
            if (reason==null) reason = ""
            $.ajax({
                type : "POST",
                url : 'singlepostReport',
                data:{postID:postID,reason:reason},
                cache : false,
                success : function(data) {
                    if(data == "Report has been sent. Please wait for our reply."){
                        alert(data)
                        location.reload();

                    }
                    else {
                        alert(data)
                    }
                },
                error: function(){
                    alert(arguments[1]);
                }
            });
        }

    </script>
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerSelected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<table class="mainContent webfont" style="border-spacing: 1em;">
    <tr>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Left Part -->
        <td style="vertical-align: top;">

            <div th:each="postData:${postDataList}" class="home-posts-card">
                <table style="border-spacing: 0em; padding-top: 0.75em; margin-bottom: 0.5em;" width="100%">
                    <!-- Header -->
                    <tr>
                        <td class="post-avatar">
                            <a th:href="'view_profile?user=' + ${postData.post.getUser().getUsername()}">
                                <image th:src="'data:image/png;base64,'+${postData.post.getUser().getAvatar()}"
                                       class="post-avatar-image"></image>
                            </a>
                        </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span class="post-author"
                                              th:text="${postData.post.getUser().getUsername()}"></span><br>
                                        <span class="post-time" th:text="${postData.postCreatedAt()}"></span>
                                    </td>
                                    <td width="10%"
                                        style="vertical-align: top; text-align: right; padding-right: 1em; min-width: 10em;">
                                        <span th:if="${postData.starred}" class="post-action-stared-top">
                                            <i class='fas fa-star'></i>
                                        </span>
                                        <span th:if="${postData.liked}" class="post-action-liked-top">
                                            <i class='fas fa-thumbs-up'></i>
                                        </span>
                                        <a href=""
                                           th:if="${User.getUsername() == postData.post.getUser().getUsername()}"
                                           class="post-action-more"><i class='far fa-trash-alt'></i></a>
                                        <div class="dropdown"
                                             th:unless="${User.getUsername() == postData.post.getUser().getUsername()}">
                                            <button class="dropbtn"><i class='fas fa-ellipsis-v'></i></button>
                                            <div class="dropdown-content">
                                                <a th:href="'javascript:reportAPost(' + ${postData.post.getPostID()} + ');'"><i class="fas fa-exclamation-triangle"></i> Report</a>
                                                <a href="#"><i class="fas fa-eye-slash"></i> Block</a>

                                            </div>
                                        </div>
                                        <div class="post-action-follow"th:unless="${User.getUsername() == postData.post.getUser().getUsername()}">
                                            <a th:href="'javascript:followAUser(' + ${postData.post.getUser().getUsername()} + ');'"><i class='fas fa-plus'></i> Follow</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Text -->
                    <tr>
                        <td></td>
                        <td>
                            <div th:text="${postData.post.getPostComment()}" class="post-text"
                                 th:if="${!postData.post.getPostComment().isEmpty()}"></div>
                            <div class="post-genre"
                                 th:if="${!postData.post.getPrimaryGenre().equals('None') || !postData.post.getSecondaryGenre().equals('None')}">
                                <span th:if="${!postData.post.getPrimaryGenre().equals('None')}" class="post-genre-text"
                                      th:text="'#' + ${postData.post.getPrimaryGenre()} + ' '"></span>
                                <span th:if="${!postData.post.getSecondaryGenre().equals('None')}"
                                      class="post-genre-text"
                                      th:text="'#' + ${postData.post.getSecondaryGenre()}"></span>
                            </div>
                        </td>
                    </tr>
                    <!-- From Series -->
                    <tr th:if="${!postData.fromSeries.isEmpty() && !postData.post.isRepost()}">
                        <td></td>
                        <td>
                            <span class="post-genre semibold">From Series: </span>
                            <span th:each="fromSeries: ${postData.fromSeries}">
                                <a class="post-genre-text" th:text="${fromSeries.getSeriesName()}"
                                   th:href="'singleSeries?id=' + ${fromSeries.getSeriesID()} + '&index=0'"></a>
                            </span>
                        </td>
                    </tr>
                    <!-- Images -->
                    <tr>
                        <td></td>
                        <td>
                            <!-- Repost -->
                            <div th:if="${postData.post.isRepost()}">
                                <table style="border-spacing: 0em; padding-top: 0.5em; margin-bottom: 0.5em; width:100%; border-left: 2px solid lightgrey;">
                                    <!-- Header -->
                                    <tr>
                                        <td class="post-avatar">
                                            <a th:href="'view_profile?user=' + ${postData.originalPost.getUser().getUsername()}">
                                                <image th:src="'data:image/png;base64,'+${postData.originalPost.getUser().getAvatar()}"
                                                       class="post-avatar-image"></image>
                                            </a>
                                        </td>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td>
                                                        <span class="post-author"
                                                              th:text="${postData.originalPost.getUser().getUsername()}"></span><br>
                                                        <span class="post-time"
                                                              th:text="${postData.originalPostCreatedAt()}"></span>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!-- Text -->
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div th:text="${postData.originalPost.getPostComment()}"
                                                 th:if="${!postData.originalPost.getPostComment().isEmpty()}"
                                                 class="post-text"></div>
                                            <div class="post-genre"
                                                 th:if="${!postData.originalPost.getPrimaryGenre().equals('None') || !postData.originalPost.getSecondaryGenre().equals('None')}">
                                                <span th:if="${!postData.originalPost.getPrimaryGenre().equals('None')}"
                                                      class="post-genre-text"
                                                      th:text="'#' + ${postData.originalPost.getPrimaryGenre()} + ' '"></span>
                                                <span th:if="${!postData.originalPost.getSecondaryGenre().equals('None')}"
                                                      class="post-genre-text"
                                                      th:text="'#' + ${postData.originalPost.getSecondaryGenre()}"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- From Series -->
                                    <tr th:if="${!postData.fromSeries.isEmpty()}">
                                        <td></td>
                                        <td>
                                            <span class="post-genre semibold">From Series: </span>
                                            <span th:each="fromSeries: ${postData.fromSeries}">
                                                <a class="post-genre-text" th:text="${fromSeries.getSeriesName()}"
                                                   th:href="'singleSeries?id=' + ${fromSeries.getSeriesID()} + '&index=0'"></a>
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- Images -->
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div>
                                                <span th:each="work:${postData.images}">
                                                    <a th:href="'singlePost?id=' + ${postData.post.getPostID()}"
                                                       class="imageLink">
                                                        <image th:src="'data:image/png;base64,'+${work}"
                                                               class="post-image-multiple"></image>
                                                    </a>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- Original -->
                            <div th:unless="${postData.post.isRepost()}">
                                <span th:each="work:${postData.images}">
                                    <a th:href="'singlePost?id=' + ${postData.post.getPostID()}" class="imageLink">
                                        <image th:src="'data:image/png;base64,'+${work}"
                                               th:class="${postData.images.size()>1} ? 'post-image-multiple': 'post-image-single'"></image>
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- Old 转赞评 -->
                <div style="padding: 0.1em;"></div>
            </div>
        </td>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Right Part -->
        <td class="profileColumn-td">
            <div class="profileColumn">
                <div style="text-align: center; padding: 1.618em 0 0.25em 0;">
                    <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                        <img th:src="'data:image/png;base64,'+${User.getAvatar()}"
                             style="width: 38.2%; border-radius: 100%; border: #cccccc 1px solid;">
                    </a>
                </div>
                <!------------------------------------>
                <!-- Profile Info -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center; padding: 0.61803em 0;">
                        <col width="50%"/>
                        <col width="50%"/>
                        <tr>
                            <td class="button-link">
                                <a th:href="'/following?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Following</span><br><span
                                            th:text="${following}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a th:href="'/follower?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Follower</span><br><span
                                            th:text="${followers}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center; border-spacing: 5px; padding: 0.61803em 0;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a th:href="'view_profile?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Posts</span><br><span
                                            th:text="${postsCount}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a th:href="'view_profile_series?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Series</span><br><span
                                            th:text="${seriesCount}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a th:href="'view_profile_star?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Stars</span><br><span
                                            th:text="${starCount}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Creation Link -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <div style="margin: 1em 1em -0.4em 1.35em; color: #9a9a9a;"
                         class="semibold">
                        <i class='fas fa-feather'></i> Creation Center
                    </div>
                    <table style="width: 100%; text-align: center; border-spacing: 5px;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a href="/createPostOption">
                                    <div style="padding: 1em 0;">
                                        <i class='fas fa-pen-nib button-icon'></i><br>Single
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="createSeries">
                                    <div>
                                        <i class='fas fa-sticky-note button-icon'></i><br>Series
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="/profile_analysis">
                                    <div>
                                        <i class='fas fa-chart-line button-icon'></i><br>Analysis
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Top Search -->
                <div class="top-search-block">
                    <div style="color: #9a9a9a;" class="semibold">
                        <i class='fas fa-fire'></i> Top Search
                    </div>
                    <table width="100%" style="padding-top: 0.5em">
                        <span th:each="searchWord, iter:${top10Searches}">
                            <tr>
                                <td class="trendingNum semibold"><span th:text="${iter.count}"></span></td>
                                <td>
                                    <div style="margin-left: 1em;" class="button-link">
                                        <form method="post"
                                              th:id="'TSForm' + ${searchWord.getWord()}"
                                              action="/topSearchForm">
                                            <input hidden th:value="${searchWord.getWord()}"
                                                   name="searchContent">
                                        </form>
                                        <a href="#" th:id="'TS' + ${searchWord.getWord()}"
                                           onclick="linkForTopSearch(this);">
                                            <span th:text="${searchWord.getWord()}"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </span>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>

</body>
</html>