<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Discover - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/profile.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            var w = document.getElementById("dgContainer").offsetWidth;
            document.getElementById("dgScroll").style.width = "" + w + 'px';
        });
        $(window).resize(function () {
            var w = document.getElementById("dgContainer").offsetWidth;
            document.getElementById("dgScroll").style.width = "" + w + 'px';
        });

        function linkForTopSearch(link) {
            var keyword = link.id.substring(2);
            document.getElementById('TSForm' + keyword).submit();
        }

        function loadMore() {
            document.getElementById("loadMore-btn").style.display = 'None';
            document.getElementById("loadMore-spin").style.display = '';
            $.ajax({
                type: "POST",
                url: 'discoverLoadMore',
                data: {},
                cache: false,
                success: function (data) {
                    if (data.substring(0, 1) == '0') {
                        document.getElementById("loadMore").style.display = 'None';
                    } else {
                        document.getElementById("loadMore-btn").style.display = '';
                        document.getElementById("loadMore-spin").style.display = 'None';
                    }
                    $('#moreContent').append(data.substring(1));
                },
                error: function () {
                    alert(arguments[1]);
                }
            });
        }

    </script>
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerSelected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="/notification" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<table class="mainContent webfont" style="border-spacing: 1em;">
    <tr>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Left Part -->
        <td style="vertical-align: top;">
            <div class="discover-sub-title">Explore Genres</div>
            <div class="discover-genre-outer-container">
                <div class="discover-genre-inner-container">
                    <div id="dgContainer" style="width: 100%;">
                        <div id="dgScroll" style="overflow-x: scroll; white-space: nowrap; width: 20em;">
                            <span th:each="genreData:${genreDataList}">
                                <a class="discover-genre-card"
                                   th:href="'/genre?genre=' + ${genreData.genreName}"
                                   style="text-align: center; display: inline-block;">
                                    <img th:src="'data:image/png;base64,'+${genreData.thumbnail}"
                                         style="width: 10em; height: 10em; border: 1px solid #eeeeee;"><br/>
                                    <span th:text="${genreData.genreName} + ' (' + ${genreData.total} + ')'"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="discover-sub-title"
                 th:if="${!postDataList.isEmpty()}">
                Posts You May Like
            </div>

            <div th:each="postData:${postDataList}" class="home-posts-card">
                <table style="border-spacing: 0em; padding-top: 0.75em; margin-bottom: 0.5em;" width="100%">
                    <!-- Header -->
                    <tr>
                        <td class="post-avatar">
                            <a th:href="'view_profile?user=' + ${postData.post.getUser().getUsername()}">
                                <image th:src="'data:image/png;base64,'+${postData.post.getUser().getAvatar()}"
                                       class="post-avatar-image"></image>
                            </a>
                        </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span class="post-author"
                                              th:text="${postData.post.getUser().getUsername()}"></span><br>
                                        <span class="post-time" th:text="${postData.postCreatedAt()}"></span>
                                    </td>
                                    <td width="10%"
                                        style="vertical-align: top; text-align: right; padding-right: 1em; min-width: 10em;">
                                        <span th:if="${postData.starred}" class="post-action-stared-top">
                                            <i class='fas fa-star'></i>
                                        </span>
                                        <span th:if="${postData.liked}" class="post-action-liked-top">
                                            <i class='fas fa-thumbs-up'></i>
                                        </span>
                                        <a href="#"
                                           th:if="${User.getUsername() == postData.post.getUser().getUsername()}"
                                           class="post-action-more"><i class='far fa-trash-alt'></i></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Text -->
                    <tr>
                        <td></td>
                        <td style="word-break: break-word;">
                            <div th:text="${postData.post.getPostComment()}" class="post-text"
                                 th:if="${!postData.post.getPostComment().isEmpty()}"></div>
                            <div class="post-genre" th:if="${!postData.post.isRepost()}">
                                <span th:if="${!postData.post.getPrimaryGenre().equals('None') || !postData.post.getSecondaryGenre().equals('None')}">
                                    <a th:if="${!postData.post.getPrimaryGenre().equals('None')}"
                                       th:href="'genre?genre=' + ${postData.post.getPrimaryGenre()}"
                                       class="post-genre-text">
                                        <i class='far fa-bookmark'></i>
                                        <span th:text="${postData.post.getPrimaryGenre()} + ' '"></span>
                                    </a>
                                    <a th:href="'genre?genre=' + ${postData.post.getSecondaryGenre()}"
                                       th:if="${!postData.post.getSecondaryGenre().equals('None')}"
                                       class="post-genre-text">
                                        <i class='far fa-bookmark'></i>
                                        <span th:text="${postData.post.getSecondaryGenre()} + ' '"></span>
                                    </a>
                                </span>
                                <span th:each="tag: ${postData.postTags}">
                                    <a th:href="'/hashtag?tag=' + ${tag}" style="text-decoration: none">
                                        <span th:text="'#' + ${tag}" class="post-genre-text"></span>
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <!-- From Series -->
                    <tr th:if="${!postData.fromSeries.isEmpty() && !postData.post.isRepost()}">
                        <td></td>
                        <td style="word-break: break-word;">
                            <span class="post-genre semibold">From Series: </span>
                            <span th:each="fromSeries: ${postData.fromSeries}">
                                <a class="post-genre-text" th:text="${fromSeries.getSeriesName()}"
                                   th:href="'singleSeries?id=' + ${fromSeries.getSeriesID()} + '&index=0'"></a>
                            </span>
                        </td>
                    </tr>
                    <!-- Images -->
                    <tr>
                        <td></td>
                        <td>
                            <!-- Original -->
                            <div th:unless="${postData.post.isRepost()}">
                                <span th:each="work:${postData.images}">
                                    <a th:href="'singlePost?id=' + ${postData.post.getPostID()}" class="imageLink">
                                        <image th:src="'data:image/png;base64,'+${work}"
                                               class="post-image-single"></image>
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- Old 转赞评 -->
                <div style="padding: 0.1em;"></div>
            </div>
            <span id="moreContent"></span>
        </td>
    </tr>
</table>
<div id="loadMore" style="text-align: center; margin-bottom: 3em;" th:if="${!postDataList.isEmpty()}">
    <div id="loadMore-btn">
        <button onclick="loadMore()" class="discover-load-more">- Load More -</button>
    </div>
    <div id="loadMore-spin" style="display: none;">
        <i class="fa fa-spinner fa-spin discover-load-more discover-load-more-spin"></i>
    </div>
</div>
</body>
</html>