<!DOCTYPE html>
<html>
<head>
    <title>Home - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://zwibbler.com/zwibbler-demo.js"></script>
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerSelected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover.html" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search.html" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="profile_post.html" class="headerUnselected"><i
                                class='fas fa-user-circle headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->
<table class="mainContent webfont" style="border-spacing: 1em;">
    <div id="zwibbler" style="background-color: white; margin-left:auto;margin-right:auto;border:2px solid red;width:1024px;height:768px;"></div>
    <zwibbler>
        <button id="save-button"> save_button</button>
        <button id="load-button"> load_button</button>
        <button id="download-button"> download button</button>
    </zwibbler>

    <script type="text/javascript">
        var ctx = Zwibbler.create("zwibbler", {
            showPropertyPanel: true,
            showPageSelector: true,
            showShapeBrushTool: true,
            defaultBrushWidth: 2
        });

        loadDrawing();
        // set autosve.   60sec
        setTimeout( autoSave, 1000 * 60 );

        $("#save-button").click(function () {
            // console.log('save-button called')
            saveDrawing();
            alert("Your work is saved!")
            // console.log('saveDrawing Done')
        });

        // post the data to the back end.
        function saveDrawing(){
            var saved = ctx.save();
            console.log(typeof(saved))
            // send saved document to database.
            // console.log(saved)
            $.ajax({
                type: 'POST',
                url: '/save_drawing',
                contentType: 'application/json',
                data: JSON.stringify({saved: saved}),
                cache : false,
                success: function(data){
                    if(data == "Your work is saved!(exist)" || data == "Your work is saved!(new)" ){
                        console.log("saved")
                    }
                    else {
                        console.log(arguments[1])
                    }

                },
                error:function(err){
                    console.log(err);
                }
            })
        }


        function autoSave() {
            console.log('autoSave has been called.')
            setTimeout( autoSave, 1000 * 60 );
            console.log('timeout called')
            saveDrawing();
            console.log('save drawing called.')
        }

        $("#load-button").click(function(){
            loadDrawing();
        });

        function loadDrawing(){
            console.log('load-button')
            $.ajax({
                type:'GET',
                url: '/load_drawing',
                success: function(res){
                    console.log('get success!')
                    // console.log(typeof(res))
                    var data = res.result
                    // console.log(data)
                    ctx.load(data);
                }
            });
        }
        $("#download-button").click(function () {
            var filename = prompt("Please enter a filename");
            if (filename) {
                ctx.download("png", filename + ".png");
            }
        });
        function onImage() {
            var dataUrl = ctx.save("png");
            window.open(dataUrl, "other");
            ctx.newDocument();
            ctx.useLineTool({
                arrowStyle: "solid",
                arrowSize: 20
            });
            ctx.useRectangleTool({
                fillStyle: "transparent"
            });
            ctx.useCircleTool({
                fillStyle: "transparent"
            });
            ctx.setZoom(0.6);
            ctx.useBrushTool({
                lineWidth: 10,
                strokeStyle: "erase",
                // optional: prevents the user from being able to move the erase stroke.
                layer: "my_eraser_layer"
            });
        }
    </script>
</table>

</body>
</html>