<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drawing - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/drawing.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold" style="z-index: 2;">
    </tbody>
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="/notification" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->
<!--<table class="mainContent webfont" style="border-spacing: 1em;">-->
<div id="zwibbler" style="" class="drawing-canvas"></div>
<!--<div>-->
<!--<zwibbler>-->
<!--<button id="save-button">Save</button>-->
<!--<button id="load-button">Load</button>-->
<!--<button id="download-button">Download</button>-->
<!--&lt;!&ndash;<button id="post-button"> post my work!</button>&ndash;&gt;-->
<!--</zwibbler>-->
<!--</div>-->
<!-- Footer Banner -->
<table class="footer webfont semibold" id="footer" style="padding: 0; margin: 0; border-spacing: 0;">
    <tr>
        <td></td>
        <td style="width: 25em;">
            <button id="load-button"
                    class="drawing-button">Load
            </button>

            <button id="save-button"
                    class="drawing-button">Save
            </button>

            <button id="download-button" class="drawing-button">Download</button>
        </td>
    </tr>
</table>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://zwibbler.com/zwibbler-demo.js"></script>
<script type="text/javascript">
    var ctx = Zwibbler.create("zwibbler", {
        showPropertyPanel: true,
        showPageSelector: true,
        showShapeBrushTool: true,
        defaultBrushWidth: 2
    });

    loadDrawing();
    setTimeout(autoSave, 1000 * 60);

    $('#post-button').click(function () {
        var currentpage = ctx.getCurrentPage();
        var numPages = ctx.getPageCount();
        var data = [];
        for (var i = 0; i < numPages; i++) {
            ctx.setCurrentPage(i);
            data.push(ctx.save("png"));
        }
        $.ajax({
            type: 'POST',
            url: '/post_png',
            contentType: 'application/json',
            data: JSON.stringify({
                data: data
            }),
            success: function (res) {
                console.log(res.status)
            },
            error: function (err) {
                console.log(err);
            }
        })

    });


    $("#save-button").click(function () {
        console.log('save-button called');
        saveDrawing();
        console.log('saveDrawing Done');
        alert("Saved");
    });

    // post the data to the back end.
    function saveDrawing() {
        var saved = ctx.save();
        console.log(typeof(saved));
        // send saved document to database.
        // console.log(saved)
        $.ajax({
            type: 'POST',
            url: '/save_drawing',
            contentType: 'application/json',
            data: JSON.stringify({
                data: saved
            }),
            success: function (res) {
                console.log(res.status)
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function autoSave() {
        console.log('autoSave has been called.');
        setTimeout(autoSave, 1000 * 60);
        console.log('timeout called');
        saveDrawing();
        console.log('save drawing called.')
    }

    $("#load-button").click(function () {
        loadDrawing();
    });

    function loadDrawing() {
        console.log('load-button');
        $.ajax({
            type: 'POST',
            url: '/load_drawing',
            success: function (res) {
                console.log('get success!');
                var data = res;
                ctx.load(data);
                alert("Loaded");
            }
        });
    }

    $("#download-button").click(function () {
        var filename = prompt("Please enter filename:");
        if (filename) {
            ctx.download("png", filename + ".png");
        }
    });

    function onImage() {
        var dataUrl = ctx.save("png");
        window.open(dataUrl, "other");
        ctx.newDocument();
        ctx.useLineTool({
            arrowStyle: "solid",
            arrowSize: 20
        });
        ctx.useRectangleTool({
            fillStyle: "transparent"
        });
        ctx.useCircleTool({
            fillStyle: "transparent"
        });
        ctx.setZoom(0.6);
        ctx.useBrushTool({
            lineWidth: 10,
            strokeStyle: "erase",
            // optional: prevents the user from being able to move the erase stroke.
            layer: "my_eraser_layer"
        });
    }
</script>
<!--</table>-->

</body>
</html>