<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/login.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function checkInfo(){
            event.preventDefault()
            $.ajax({
                type : "POST",
                url : 'forgetPasswordUserInfo',
                data:$('#forgetPasswordUserInfo').serialize(),
                // dataType : "image/jpg",
                cache : false,
                success : function(data) {
                    if(data == "Match!"){
                        $('#forgetPasswordUserInfo').submit()
                    }
                    else {
                        alert(data)
                    }
                },
                error: function(){
                    alert(arguments[1]);
                }
            });

        }
        $(document).ready(function(){

        });
    </script>
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="#" class="headerSelected">Celeste</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<!--/div-->
<div class="loginBlock webfont">
    <p class="loginTitle webfont">Forget Password</p>
    <form id="forgetPasswordUserInfo" action="ResetPassword" method="post">
        <div class="loginInfo webfont" id = "uuu">
            Username: <span id="usernameError" style="color:#d33f42;"></span><br>
        </div>
        <input type="text" name="username" value="" maxlength="24" class="loginTextfield webfont" required><br>


        <div class="loginInfo webfont">
            Email Address: <br>
        </div>

        <input type="email" name="email" value="" class="loginTextfield webfont" ><br>


        <br>
        <!-- Display error message if necessary -->
        <div class="error webfont">

        </div>
        <input type="submit" onclick="checkInfo()" value="Confirm" class="button webfont" >
    </form>
    <div style="width: 100%" class="linkText">
        <a href="backtosignin">
            Sign in
        </a>
    </div>
</div>
<div style="height: 45em;">
</div>
</body>
</html>