<!DOCTYPE html>
<html>
<head>
    <title>Home - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerSelected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover.html" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search.html" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="profile.html" class="headerUnselected"><i
                                class='fas fa-user-circle headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<table class="mainContent webfont" style="border-spacing: 1em;">
    <tr>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Left Part -->
        <td style="vertical-align: top;">

            <div class="home-posts-card">
                <table style="border-spacing: 0em; padding-top: 0.75em; margin-bottom: 0.5em;" width="100%">
                    <!-- Header -->
                    <tr>
                        <td class="post-avatar">
                            <a href=""><i class='fas fa-user-circle headerIcon'></i></a>
                        </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span class="post-author">Tango2010</span><br>
                                        <span class="post-time">14:37 Mar 29, 2019</span>
                                    </td>
                                    <td width="5%" style="vertical-align: top; text-align: right; padding-right: 1em;">
                                        <a href="" class="post-action-more"><i class='fas fa-ellipsis-v'></i></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Text -->
                    <tr>
                        <td></td>
                        <td>
                            <div class="post-text">Einstein & beer</div>
                        </td>
                    </tr>
                    <!-- Images -->
                    <tr>
                        <td></td>
                        <td>
                            <div>
                                <img src="../static/images/samplePost/T-1-1.jpg" class="post-image-single">
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- 转赞评 -->
                <table width="100%" class="post-action">
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <tr>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='fas fa-share-square'></i> Share (1w+)</a>
                        </td>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='far fa-comment-dots'></i> Comment (1k+)</a>
                        </td>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='fas fa-star'></i> Star (128)</a>
                        </td>
                        <td class="post-action-cell">
                            <a href=""><i class='far fa-thumbs-up'></i> Like (10w+)</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="home-posts-card">
                <table style="border-spacing: 0em; padding-top: 0.75em; margin-bottom: 0.5em;" width="100%">
                    <!-- Header -->
                    <tr>
                        <td class="post-avatar">
                            <a href=""><i class='fas fa-user-circle headerIcon'></i></a>
                        </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span class="post-author">Tango2010</span><br>
                                        <span class="post-time">14:37 Mar 29, 2019</span>
                                    </td>
                                    <td width="5%" style="vertical-align: top; text-align: right; padding-right: 1em;">
                                        <a href="" class="post-action-more"><i class='fas fa-ellipsis-v'></i></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Text -->
                    <tr>
                        <td></td>
                        <td>
                            <div class="post-text"></div>
                        </td>
                    </tr>
                    <!-- Images -->
                    <tr>
                        <td></td>
                        <td>
                            <div>
                                <img src="../static/images/samplePost/T-2-1.jpg" class="post-image-single">
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- 转赞评 -->
                <table width="100%" class="post-action">
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <tr>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='fas fa-share-square'></i> Share (1w+)</a>
                        </td>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='far fa-comment-dots'></i> Comment (1k+)</a>
                        </td>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='fas fa-star'></i> Star (128)</a>
                        </td>
                        <td class="post-action-cell">
                            <a href=""><i class='far fa-thumbs-up'></i> Like (10w+)</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="home-posts-card">
                <table style="border-spacing: 0em; padding-top: 0.75em; margin-bottom: 0.5em;" width="100%">
                    <!-- Header -->
                    <tr>
                        <td class="post-avatar">
                            <a href=""><i class='fas fa-user-circle headerIcon'></i></a>
                        </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span class="post-author">Psycho</span><br>
                                        <span class="post-time">11:37 Mar 25, 2019</span>
                                    </td>
                                    <td width="5%" style="vertical-align: top; text-align: right; padding-right: 1em;">
                                        <a href="" class="post-action-more"><i class='fas fa-ellipsis-v'></i></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Text -->
                    <tr>
                        <td></td>
                        <td>
                            <div class="post-text">School life</div>
                        </td>
                    </tr>
                    <!-- Images -->
                    <tr>
                        <td></td>
                        <td>
                            <div>
                                <img src="../static/images/samplePost/S-1-1.jpg" class="post-image-multiple">
                                <img src="../static/images/samplePost/S-1-2.jpg" class="post-image-multiple">
                                <img src="../static/images/samplePost/S-1-3.jpg" class="post-image-multiple">
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- 转赞评 -->
                <table width="100%" class="post-action">
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <col width="25%"/>
                    <tr>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='fas fa-share-square'></i> Share (1w+)</a>
                        </td>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='far fa-comment-dots'></i> Comment (1k+)</a>
                        </td>
                        <td class="post-action-cell" style="border-right: #ccc 1px solid">
                            <a href=""><i class='fas fa-star'></i> Star (128)</a>
                        </td>
                        <td class="post-action-cell">
                            <a href=""><i class='far fa-thumbs-up'></i> Like (10w+)</a>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Right Part -->
        <td class="profileColumn-td">
            <div class="profileColumn">
                <!------------------------------------>
                <!-- Profile Info -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a href="">
                                    <div style="padding: 1em 0;">
                                        <span class="semibold" style="font-size: 1.05em;">Following</span><br>123
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Follower</span><br>3000
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">My Post</span><br>20
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Creation Link -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center; border-spacing: 5px;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a href="createPost_Option.html">
                                    <div style="padding: 1em 0;">
                                        <i class='fas fa-pen-nib button-icon'></i><br>Single
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="">
                                    <div>
                                        <i class='fas fa-sticky-note button-icon'></i><br>Series
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="">
                                    <div>
                                        <i class='fas fa-star button-icon'></i><br>Stars
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Top Search -->
                <div class="top-search-block">
                    <div style="color: #9a9a9a;" class="semibold">
                        Top Search
                    </div>
                    <div class="button-link" style="line-height: 1.6; padding-left: 1em; padding-top: 0.5em">
                        <a href=""># 1 DC</a><br>
                        <a href=""># 2 batman</a><br>
                        <a href=""># 3 irony</a><br>
                        <a href=""># 4 crisis</a><br>
                        <a href=""># 5 detective</a><br>
                        <a href=""># 6 dark</a><br>
                        <a href=""># 7 who</a><br>
                        <a href=""># 8 flash</a><br>
                        <a href=""># 9 the end</a><br>
                        <a href="">#10 action</a><br>
                    </div>
                </div>
            </div>
            <div></div>
        </td>
    </tr>
</table>

</body>
</html>