<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notification - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/notification.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/mainPage" class="headerSelected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="/notification" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<table class="mainContent webfont" style="border-spacing: 1em;">
    <tr>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Left Part -->
        <td style="vertical-align: top;">
            <div style="width: 100%; background: white; border-radius: 8px;">
                <div class="notification-title semibold">Notification</div>
                <span th:each="notification, iter: ${notificationList}">
                    <div th:class="${iter.index == 0 ? 'notification-container' : 'notification-container notification-separator'}">
                        <table width="100%">
                            <col width="10%"/>
                            <col width="60%"/>
                            <col width="30%"/>
                            <tr>
                                <td class="notification-type-icon">
                                    <span th:switch="${notification.type}">
                                        <span th:case="${T(celeste.comic_community_4_1.miscellaneous.NotificationType).STAR}"><i
                                                class='fas fa-star'></i></span>
                                        <span th:case="${T(celeste.comic_community_4_1.miscellaneous.NotificationType).LIKE}"><i
                                                class='fas fa-thumbs-up'></i></span>
                                        <span th:case="${T(celeste.comic_community_4_1.miscellaneous.NotificationType).FOLLOW}"><i
                                                class='fas fa-user-plus'></i></span>
                                        <span th:case="${T(celeste.comic_community_4_1.miscellaneous.NotificationType).COMMENT}"><i
                                                class='fas fa-comment-dots'></i></span>
                                        <span th:case="${T(celeste.comic_community_4_1.miscellaneous.NotificationType).SHARE}"><i
                                                class='fas fa-share'></i></span>
                                        <span th:case="${T(celeste.comic_community_4_1.miscellaneous.NotificationType).SUBSCRIBE}"><i
                                                class='fas fa-bookmark'></i></span>
                                    </span>
                                </td>
                                <td>
                                    <a th:href="'view_profile?user=' + ${notification.fromWhom}"
                                       th:text="${notification.fromWhom}" class="notification-link"></a>
                                    <span th:text="${notification.toString()}"></span>
                                    <span th:if="${notification.type != T(celeste.comic_community_4_1.miscellaneous.NotificationType).FOLLOW && notification.type != T(celeste.comic_community_4_1.miscellaneous.NotificationType).SUBSCRIBE}">
                                        <a th:href="'singlePost?id=' + ${notification.postOrSeriesID}"
                                           class="notification-link"><i class="fas fa-external-link-alt"></i></a>
                                        <span th:if="${notification.comment != null && notification.comment.length() > 0 && notification.type == T(celeste.comic_community_4_1.miscellaneous.NotificationType).SHARE}">
                                            and commented "<a class="notification-link"
                                                              th:text="${notification.comment}"
                                                              th:href="'singlePost?id=' + ${notification.repostID}"></a>"
                                        </span>
                                    </span>
                                    <span th:if="${notification.type == T(celeste.comic_community_4_1.miscellaneous.NotificationType).SUBSCRIBE}">
                                        <a th:href="'viewSeries?id=' + ${notification.postOrSeriesID}"
                                           class="notification-link">[Single Series Link Placeholder]</a>
                                    </span>
                                </td>
                                <td style="text-align: right">
                                    <span th:if="${notification.time}"></span>
                                    <span th:text="${notification.getDateString()}" class="notification-time"></span>
                                </td>
                            </tr>
                            <tr th:if="${notification.type == T(celeste.comic_community_4_1.miscellaneous.NotificationType).COMMENT}">
                                <td></td>
                                <td>
                                    <span style="margin-left: 1em; color: #3c3c3c;"><i
                                            class="fas fa-quote-left"></i></span>
                                    <span th:text="${notification.comment}"></span>
                                    <span style="color: #3c3c3c;"><i class="fas fa-quote-right"></i></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>
                <div style="padding: 0.25em;"></div>
            </div>
        </td>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Right Part -->
        <td class="profileColumn-td">
            <div class="profileColumn">
                <div style="text-align: center; padding: 1.618em 0 0.25em 0;">
                    <img th:src="'data:image/png;base64,'+${User.getAvatar()}"
                         style="width: 38.2%; border-radius: 100%; border: #cccccc 1px solid;">
                </div>
                <!------------------------------------>
                <!-- Profile Info -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center; padding: 0.61803em 0;">
                        <col width="50%"/>
                        <col width="50%"/>
                        <tr>
                            <td class="button-link">
                                <a th:href="'/following?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Following</span><br><span
                                            th:text="${following}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a th:href="'/follower?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Follower</span><br><span
                                            th:text="${followers}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center; border-spacing: 5px; padding: 0.61803em 0;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a th:href="'view_profile?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Posts</span><br><span
                                            th:text="${postsCount}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a th:href="'view_profile_series?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Series</span><br><span
                                            th:text="${seriesCount}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a th:href="'view_profile_subscription?user=' + ${User.getUsername()}">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Stars</span><br><span
                                            th:text="${starCount}" class="semibold" style="font-size: 1.05em;"></span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Creation Link -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <div style="margin: 1em 1em -0.4em 1.35em; color: #9a9a9a;"
                         class="semibold">
                        <i class='fas fa-feather'></i> Creation Center
                    </div>
                    <table style="width: 100%; text-align: center; border-spacing: 5px;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a href="/createPostOption">
                                    <div style="padding: 1em 0;">
                                        <i class='fas fa-pen-nib button-icon'></i><br>Single
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="createSeries">
                                    <div>
                                        <i class='fas fa-sticky-note button-icon'></i><br>Series
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="/profile_analysis">
                                    <div>
                                        <i class='fas fa-chart-line button-icon'></i><br>Analysis
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Top Search -->
                <div class="top-search-block">
                    <div style="color: #9a9a9a;" class="semibold">
                        <i class='fas fa-fire'></i> Top Search
                    </div>
                    <table width="100%" style="padding-top: 0.5em">
                        <tr>
                            <td class="trendingNum semibold">1</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">DC</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">2</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">Batman</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">3</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">Superman</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">4</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">Cat</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">5</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">asd</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">6</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">2</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">7</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">light</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">8</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">fun</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">9</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">aw</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="trendingNum semibold">10</td>
                            <td>
                                <div style="margin-left: 1em;" class="button-link">
                                    <a href="">pen</a></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>

</body>
</html>