<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Posts</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/profile.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/dropdown_menu.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/single.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right; vertical-align: center">
                    <td class="headerCellPadding">
                        <a href="/notification" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<div class="profile-section webfont">
    <div style="text-align: center">
        <image th:src="'data:image/png;base64,'+${profileOwner.getAvatar()}" class="avatar-image"></image>
    </div>
    <div class="profile-name">
        <span class="profile-name" th:text="${profileOwner.getUsername()}"></span>
        <span th:if="${profileOwner.getGender() == 'male'}" class="follow-male"><i class='fas fa-mars'></i></span>
        <span th:unless="${profileOwner.getGender() == 'male'}" class="follow-female"><i
                class='fas fa-venus'></i></span>
    </div>
    <div class="profile-follow-info">
        <table width="100%">
            <col width="50%"/>
            <col width="50%"/>
            <tr style="">
                <td style="text-align: right; border-right: #b6b6b6 1px solid;">
                    <a th:href="'/following?user=' + ${profileOwner.getUsername()}"
                       th:text="'Following: '+ ${following} + '&nbsp'" class="profile-follow-content"></a>
                </td>
                <td style="text-align: left;color: #666666;">
                    <a th:href="'/follower?user=' + ${profileOwner.getUsername()}"
                       th:text="'&nbspFollower: '+ ${followers}" class="profile-follow-content"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div class="profile-index-section webfont">
    <table width="100%">
        <span th:if="${isOthersProfile}">
            <col width="33.3%"/><col width="33.4%"/><col width="33.3%"/>
        </span>
        <span th:unless="${isOthersProfile}">
            <col width="20%"/><col width="20%"/><col width="20%"/><col width="20%"/><col width="20%"/>
        </span>
        <tr>
            <td class="profile-index-cell-border profile-index-cell-selected">
                <a th:href="'view_profile?user=' + ${profileOwner.getUsername()}">Post (<span
                        th:text="${postDataList.size()}"></span>)</a>
            </td>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a th:href="'view_profile_series?user=' + ${profileOwner.getUsername()}">Series (<span
                        th:text="${seriesCount}"></span>)</a>
            </td>
            <span th:if="${isOthersProfile}">
                <td class="profile-index-cell-unselected">
                    <a th:href="'view_profile_subscription?user=' + ${profileOwner.getUsername()}">Subscription (<span
                            th:text="${subscriptionCount}"></span>)</a>
                </td>
            </span>
            <span th:unless="${isOthersProfile}">
                <td class="profile-index-cell-border profile-index-cell-unselected">
                    <a th:href="'view_profile_subscription?user=' + ${profileOwner.getUsername()}">Subscription (<span
                            th:text="${subscriptionCount}"></span>)</a>
                </td>
                <td class="profile-index-cell-border profile-index-cell-unselected">
                    <a th:href="'view_profile_star?user=' + ${profileOwner.getUsername()}">Stars (<span
                            th:text="${starCount}"></span>)</a>
                </td>
                <td class="profile-index-cell-unselected">
                    <a th:href="'profile_analysis'">Analysis</a>
                </td>
            </span>
        </tr>
    </table>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div class="webfont" style="margin: 1em 12.5%;">
    <div th:each="postData:${postDataList}" class="home-posts-card">
        <table style="border-spacing: 0em; padding-top: 0.75em; margin-bottom: 0.5em;" width="100%">
            <!-- Header -->
            <tr>
                <td class="post-avatar">
                    <a th:href="'view_profile?user=' + ${postData.post.getUser().getUsername()}">
                        <image th:src="'data:image/png;base64,'+${postData.post.getUser().getAvatar()}"
                               class="post-avatar-image"></image>
                    </a>
                </td>
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                <span class="post-author" th:text="${postData.post.getUser().getUsername()}"></span><br>
                                <span class="post-time" th:text="${postData.post.getCreatedAt()}"></span>
                            </td>
                            <td width="5%" style="vertical-align: top; text-align: right; padding-right: 1em;">
                                <a href=""
                                   th:if="${User.getUsername() == postData.post.getUser().getUsername()}"
                                   class="post-action-more"><i class='far fa-trash-alt'></i></a>
                                <div class="dropdown"
                                     th:unless="${User.getUsername() == postData.post.getUser().getUsername()}">
                                    <button class="dropbtn"><i class='fas fa-ellipsis-v'></i></button>
                                    <div class="dropdown-content">
                                        <a href="#"><i class="fas fa-exclamation-triangle"></i> Report</a>
                                        <a href="#"><i class="fas fa-eye-slash"></i> Block</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Text -->
            <tr>
                <td></td>
                <td>
                    <div th:text="${postData.post.getPostComment()}" class="post-text"></div>
                    <div class="post-genre">
                                <span th:if="${!postData.post.getPrimaryGenre().equals('None')}" class="post-genre-text"
                                      th:text="'#' + ${postData.post.getPrimaryGenre()} + ' '"></span>
                        <span th:if="${!postData.post.getSecondaryGenre().equals('None')}" class="post-genre-text"
                              th:text="'#' + ${postData.post.getSecondaryGenre()}"></span>
                    </div>
                </td>
            </tr>
            <!-- Images -->
            <tr>
                <td></td>
                <td>
                    <!-- Repost -->
                    <div th:if="${postData.post.isRepost()}">
                        <table style="border-spacing: 0em; padding-top: 0.5em; margin-bottom: 0.5em; width:100%; border-left: 2px solid lightgrey;">
                            <!-- Header -->
                            <tr>
                                <td class="post-avatar">
                                    <a th:href="'view_profile?user=' + ${postData.originalPost.getUser().getUsername()}">
                                        <image th:src="'data:image/png;base64,'+${postData.originalPost.getUser().getAvatar()}"
                                               class="post-avatar-image"></image>
                                    </a>
                                </td>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                        <span class="post-author"
                                                              th:text="${postData.originalPost.getUser().getUsername()}"></span><br>
                                                <span class="post-time"
                                                      th:text="${postData.originalPost.getCreatedAt()}"></span>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- Text -->
                            <tr>
                                <td></td>
                                <td>
                                    <div th:text="${postData.originalPost.getPostComment()}"
                                         class="post-text"></div>
                                    <div class="post-genre">
                                            <span th:if="${!postData.originalPost.getPrimaryGenre().equals('None')}"
                                                  class="post-genre-text"
                                                  th:text="'#' + ${postData.originalPost.getPrimaryGenre()} + ' '"></span>
                                        <span th:if="${!postData.originalPost.getSecondaryGenre().equals('None')}"
                                              class="post-genre-text"
                                              th:text="'#' + ${postData.originalPost.getSecondaryGenre()}"></span>
                                    </div>
                                </td>
                            </tr>
                            <!-- Images -->
                            <tr>
                                <td></td>
                                <td>
                                    <div>
                                        <span th:each="work:${postData.images}">
                                            <a th:href="'singlePost?id=' + ${postData.post.getPostID()}"
                                               class="imageLink">
                                                <image th:src="'data:image/png;base64,'+${work}"
                                                       class="post-image-multiple"></image>
                                            </a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Original -->
                    <div th:unless="${postData.post.isRepost()}">
                        <span th:each="work:${postData.images}">
                            <a th:href="'singlePost?id=' + ${postData.post.getPostID()}" class="imageLink">
                                <image th:src="'data:image/png;base64,'+${work}"
                                       th:class="${postData.images.size()>1} ? 'post-image-multiple': 'post-image-single'"></image>
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <!-- 转赞评 -->
        <table width="100%" class="post-action">
            <col width="25%"/>
            <col width="25%"/>
            <col width="25%"/>
            <col width="25%"/>
            <tr>
                <td class="post-action-cell" style="border-right: #ccc 1px solid">
                    <a href="">
                        <i class='fas fa-share-square'></i> Share (<span
                            th:text="${postData.shareCount}"></span>)
                    </a>
                </td>
                <td class="post-action-cell" style="border-right: #ccc 1px solid">
                    <a th:href="'singlePost?id=' + ${postData.post.getPostID()}">
                        <i class='far fa-comment-dots'></i> Comment (<span
                            th:text="${postData.commentCount}"></span>)
                    </a>
                </td>
                <span th:if="${postData.starred}">
                    <td class="post-action-stared" style="border-right: #ccc 1px solid">
                        <a href=""><i class='fas fa-star'></i> Star (<span
                                th:text="${postData.starCount}"></span>)</a>
                    </td>
                </span>
                <span th:unless="${postData.starred}">
                    <td class="post-action-cell" style="border-right: #ccc 1px solid">
                        <a href=""><i class='fas fa-star'></i> Star (<span
                                th:text="${postData.starCount}"></span>)</a>
                    </td>
                </span>
                <span th:if="${postData.liked}">
                    <td class="post-action-liked">
                        <a href=""><i class='fas fa-thumbs-up'></i> Like (<span
                                th:text="${postData.likeCount}"></span>)</a>
                    </td>
                </span>
                <span th:unless="${postData.liked}">
                    <td class="post-action-cell">
                        <a href=""><i class='far fa-thumbs-up'></i> Like (<span
                                th:text="${postData.likeCount}"></span>)</a>
                    </td>
                </span>
            </tr>
        </table>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->

<div style="padding: 2em;"></div>
</body>
</html>