<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Subscription</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/profile.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/single.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right; vertical-align: center">
                    <td class="headerCellPadding">
                        <a href="/notification" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<div class="profile-section webfont">
    <div style="text-align: center">
        <image th:src="'data:image/png;base64,'+${profileOwner.getAvatar()}" class="avatar-image"></image>
    </div>
    <div class="profile-name">
        <span class="profile-name" th:text="${profileOwner.getUsername()}"></span>
        <span th:if="${profileOwner.getGender() == 'male'}" class="follow-male"><i class='fas fa-mars'></i></span>
        <span th:unless="${profileOwner.getGender() == 'male'}" class="follow-female"><i
                class='fas fa-venus'></i></span>
    </div>
    <div class="profile-follow-info">
        <table width="100%">
            <col width="50%"/>
            <col width="50%"/>
            <tr style="">
                <td style="text-align: right; border-right: #b6b6b6 1px solid;">
                    <a th:href="'/following?user=' + ${profileOwner.getUsername()}"
                       th:text="'Following: '+ ${following} + '&nbsp'" class="profile-follow-content"></a>
                </td>
                <td style="text-align: left;color: #666666;">
                    <a th:href="'/follower?user=' + ${profileOwner.getUsername()}"
                       th:text="'&nbspFollower: '+ ${followers}" class="profile-follow-content"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div class="profile-index-section webfont">
    <table width="100%">
        <span th:if="${isOthersProfile}">
            <col width="33.3%"/><col width="33.4%"/><col width="33.3%"/>
        </span>
        <span th:unless="${isOthersProfile}">
            <col width="20%"/><col width="20%"/><col width="20%"/><col width="20%"/><col width="20%"/>
        </span>
        <tr>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a th:href="'view_profile?user=' + ${profileOwner.getUsername()}">Post (<span
                        th:text="${postsCount}"></span>)</a>
            </td>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a th:href="'view_profile_series?user=' + ${profileOwner.getUsername()}">Series (<span
                        th:text="${seriesCount}"></span>)</a>
            </td>
            <span th:if="${isOthersProfile}">
                <td class="profile-index-cell-selected">
                    <a th:href="'view_profile_subscription?user=' + ${profileOwner.getUsername()}">Subscription (<span
                            th:text="${subscriptionCount}"></span>)</a>
                </td>
            </span>
            <span th:unless="${isOthersProfile}">
                <td class="profile-index-cell-border profile-index-cell-selected">
                    <a th:href="'view_profile_subscription?user=' + ${profileOwner.getUsername()}">Subscription (<span
                            th:text="${subscriptionCount}"></span>)</a>
                </td>
                <td class="profile-index-cell-border profile-index-cell-unselected">
                    <a th:href="'view_profile_star?user=' + ${profileOwner.getUsername()}">Stars (<span
                            th:text="${starCount}"></span>)</a>
                </td>
                <td class="profile-index-cell-unselected">
                    <a th:href="'profile_analysis'">Analysis</a>
                </td>
            </span>
        </tr>
    </table>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div class="webfont" style="margin: 1em 12.5%;">
    <div class="series-subscription-card">
        <table cellpadding="0" cellspacing="0">
            <col width="12em;"/>
            <col width="90%"/>
            <col width="5em;"/>
            <tr>
                <!-- Image Cover -->
                <td>
                    <img src="../static/images/samplePost/seriesCover1.jpg" class="series-cover-image">
                </td>
                <!-- Series Description -->
                <td>
                    <div style="padding: 0 1.5em">
                        <div class="subscription-series-title">
                            <a href="">Subscribed Series Title Placeholder</a>
                        </div>
                        <div class="subscription-series-author">
                            <span class="semibold">Author: </span>xxx
                        </div>
                        <div class="subscription-series-date">
                            <span class="semibold">Created On: </span>September 2, 2018
                        </div>
                        <div class="subscription-series-date">
                            <span class="semibold">Subscribers: </span>24601
                        </div>
                        <div class="subscription-series-tag">
                            <a href="">#tag1</a>
                            <a href="">#tag2</a>
                        </div>
                    </div>
                </td>
                <!-- Unsubscribe -->
                <td>
                    <div class="subscription-series-unsubscribe">
                        <a href="">Unsubscribe</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->

<div style="padding: 2em;"></div>
</body>
</html>