<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/profile.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/single.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script>
        function viewNone() {
            document.getElementById("vv7").className = "analysis-duration-not-selected";
            document.getElementById("vv30").className = "analysis-duration-not-selected";
            document.getElementById("vv180").className = "analysis-duration-not-selected";
            document.getElementById("vv365").className = "analysis-duration-not-selected";

            document.getElementById("v7").style.display = "None";
            document.getElementById("v30").style.display = "None";
            document.getElementById("v180").style.display = "None";
            document.getElementById("v365").style.display = "None";
        }

        function viewNum(i) {
            viewNone();
            document.getElementById("vv" + i).className = "analysis-duration-selected";
            document.getElementById("v" + i).style.display = "";
        }

        function subscriberNone() {
            document.getElementById("ss7").className = "analysis-duration-not-selected";
            document.getElementById("ss30").className = "analysis-duration-not-selected";
            document.getElementById("ss180").className = "analysis-duration-not-selected";
            document.getElementById("ss365").className = "analysis-duration-not-selected";

            document.getElementById("s7").style.display = "None";
            document.getElementById("s30").style.display = "None";
            document.getElementById("s180").style.display = "None";
            document.getElementById("s365").style.display = "None";
        }

        function subscriberNum(i) {
            subscriberNone();
            document.getElementById("ss" + i).className = "analysis-duration-selected";
            document.getElementById("s" + i).style.display = "";
        }

        function contributionNone() {
            document.getElementById("cc7").className = "analysis-duration-not-selected";
            document.getElementById("cc30").className = "analysis-duration-not-selected";
            document.getElementById("cc180").className = "analysis-duration-not-selected";
            document.getElementById("cc365").className = "analysis-duration-not-selected";

            document.getElementById("c7").style.display = "None";
            document.getElementById("c30").style.display = "None";
            document.getElementById("c180").style.display = "None";
            document.getElementById("c365").style.display = "None";
        }

        function contributionNum(i) {
            contributionNone();
            document.getElementById("cc" + i).className = "analysis-duration-selected";
            document.getElementById("c" + i).style.display = "";
        }

        function profitNone() {
            document.getElementById("pp7").className = "analysis-duration-not-selected";
            document.getElementById("pp30").className = "analysis-duration-not-selected";
            document.getElementById("pp180").className = "analysis-duration-not-selected";
            document.getElementById("pp365").className = "analysis-duration-not-selected";

            document.getElementById("p7").style.display = "None";
            document.getElementById("p30").style.display = "None";
            document.getElementById("p180").style.display = "None";
            document.getElementById("p365").style.display = "None";
        }

        function profitNum(i) {
            profitNone();
            document.getElementById("pp" + i).className = "analysis-duration-selected";
            document.getElementById("p" + i).style.display = "";
        }
    </script>
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right; vertical-align: center">
                    <td class="headerCellPadding">
                        <a href="/notification" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<div class="profile-section webfont">
    <div style="text-align: center">
        <image th:src="'data:image/png;base64,'+${User.getAvatar()}" class="avatar-image"></image>
    </div>
    <div class="profile-name">
        <span class="profile-name" th:text="${profileOwner.getUsername()}"></span>
        <span th:if="${profileOwner.getGender() == 'male'}" class="follow-male"><i class='fas fa-mars'></i></span>
        <span th:unless="${profileOwner.getGender() == 'male'}" class="follow-female"><i
                class='fas fa-venus'></i></span>
    </div>
    <div class="profile-follow-info">
        <table width="100%">
            <col width="50%"/>
            <col width="50%"/>
            <tr style="">
                <td style="text-align: right; border-right: #b6b6b6 1px solid;">
                    <a th:href="'/following?user=' + ${profileOwner.getUsername()}"
                       th:text="'Following: '+ ${following} + '&nbsp'" class="profile-follow-content"></a>
                </td>
                <td style="text-align: left;color: #666666;">
                    <a th:href="'/follower?user=' + ${profileOwner.getUsername()}"
                       th:text="'&nbspFollower: '+ ${followers}" class="profile-follow-content"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div class="profile-index-section webfont">
    <table width="100%">
        <col width="20%"/>
        <col width="20%"/>
        <col width="20%"/>
        <col width="20%"/>
        <col width="20%"/>
        <tr>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a th:href="'view_profile?user=' + ${profileOwner.getUsername()}">Post (<span
                        th:text="${postsCount}"></span>)</a>
            </td>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a th:href="'view_profile_series?user=' + ${profileOwner.getUsername()}">Series (<span
                        th:text="${seriesCount}"></span>)</a>
            </td>

            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a th:href="'view_profile_subscription?user=' + ${profileOwner.getUsername()}">Subscription (<span
                        th:text="${subscriptionCount}"></span>)</a>
            </td>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a th:href="'view_profile_star?user=' + ${profileOwner.getUsername()}">Stars (<span
                        th:text="${starCount}"></span>)</a>
            </td>
            <td class="profile-index-cell-selected">
                <a th:href="'profile_analysis'">Analysis</a>
            </td>
        </tr>
    </table>
</div>
<!---------------------------------------->
<!---------------------------------------->
<!---------------------------------------->
<div class="webfont" style="margin: 1em 12.5%;">
    <table width="100%" cellspacing="0">
        <col width="50%">
        <col width="50%">
        <tr>
            <!-- Contribution -->
            <td>
                <div class="analysis-card analysis-card-left">
                    <table width="100%" cellspacing="0">
                        <col width="6em"/>
                        <tr>
                            <!-- Icon -->
                            <td class="analysis-icon">
                                <i class='fas fa-poll'></i>
                            </td>
                            <!-- Content -->
                            <td>
                                <!-- Title -->
                                <div class="analysis-title">
                                    Contribution
                                </div>
                                <!-- Title -->
                                <div class="analysis-increment">
                                    +
                                    <span th:text="${analysisData.getContribution()[0]}" id="c7"></span>
                                    <span th:text="${analysisData.getContribution()[1]}" id="c30"
                                          style="display: none"></span>
                                    <span th:text="${analysisData.getContribution()[2]}" id="c180"
                                          style="display: none"></span>
                                    <span th:text="${analysisData.getContribution()[3]}" id="c365"
                                          style="display: none"></span>
                                </div>
                                <!-- Title -->
                                <div class="analysis-duration">
                                    <a href="#" class="analysis-duration-selected"
                                       onclick="contributionNum(7)" id="cc7">7</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="contributionNum(30)" id="cc30">30</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="contributionNum(180)" id="cc180">180</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="contributionNum(365)" id="cc365">365</a>
                                    days
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <!-- Profit -->
            <td>
                <div class="analysis-card analysis-card-right">
                    <table width="100%" cellspacing="0">
                        <col width="6em"/>
                        <tr>
                            <!-- Icon -->
                            <td class="analysis-icon">
                                <i class='fas fa-donate'></i>
                            </td>
                            <!-- Content -->
                            <td>
                                <!-- Title -->
                                <div class="analysis-title">
                                    Profit
                                </div>
                                <!-- Title -->
                                <div class="analysis-increment">
                                    $
                                    <span th:text="${analysisData.getProfit()[0]}" id="p7"></span>
                                    <span th:text="${analysisData.getProfit()[1]}" id="p30"
                                          style="display: none"></span>
                                    <span th:text="${analysisData.getProfit()[2]}" id="p180"
                                          style="display: none"></span>
                                    <span th:text="${analysisData.getProfit()[3]}" id="p365"
                                          style="display: none"></span>
                                </div>
                                <!-- Title -->
                                <div class="analysis-duration">
                                    <a href="#" class="analysis-duration-selected"
                                       onclick="profitNum(7)" id="pp7">7</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="profitNum(30)" id="pp30">30</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="profitNum(180)" id="pp180">180</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="profitNum(365)" id="pp365">365</a>
                                    days
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td height="10em"></td>
            <td></td>
        </tr>
        <tr>
            <!-- View -->
            <td>
                <div class="analysis-card analysis-card-left">
                    <table width="100%" cellspacing="0">
                        <col width="6em"/>
                        <tr>
                            <!-- Icon -->
                            <td class="analysis-icon">
                                <i class='far fa-eye'></i>
                            </td>
                            <!-- Content -->
                            <td>
                                <!-- Title -->
                                <div class="analysis-title">
                                    View
                                </div>
                                <!-- Title -->
                                <div class="analysis-increment">
                                    +
                                    <span th:text="${analysisData.getView()[0]}" id="v7"></span>
                                    <span th:text="${analysisData.getView()[1]}" id="v30" style="display: none"></span>
                                    <span th:text="${analysisData.getView()[2]}" id="v180" style="display: none"></span>
                                    <span th:text="${analysisData.getView()[3]}" id="v365" style="display: none"></span>
                                </div>
                                <!-- Title -->
                                <div class="analysis-duration">
                                    <a href="#" class="analysis-duration-selected"
                                       onclick="viewNum(7)" id="vv7">7</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="viewNum(30)" id="vv30">30</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="viewNum(180)" id="vv180">180</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="viewNum(365)" id="vv365">365</a>
                                    days
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <!-- Subscriber -->
            <td>
                <div class="analysis-card analysis-card-right">
                    <table width="100%" cellspacing="0">
                        <col width="6em"/>
                        <tr>
                            <!-- Icon -->
                            <td class="analysis-icon" style="">
                                <i class='fas fa-user-plus'></i>
                            </td>
                            <!-- Content -->
                            <td>
                                <!-- Title -->
                                <div class="analysis-title">
                                    Follower
                                </div>
                                <!-- Title -->
                                <div class="analysis-increment">
                                    +
                                    <span th:text="${analysisData.getSubscriber()[0]}" id="s7"></span>
                                    <span th:text="${analysisData.getSubscriber()[1]}" id="s30"
                                          style="display: none"></span>
                                    <span th:text="${analysisData.getSubscriber()[2]}" id="s180"
                                          style="display: none"></span>
                                    <span th:text="${analysisData.getSubscriber()[3]}" id="s365"
                                          style="display: none"></span>
                                </div>
                                <!-- Title -->
                                <div class="analysis-duration">
                                    <a href="#" class="analysis-duration-selected"
                                       onclick="subscriberNum(7)" id="ss7">7</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="subscriberNum(30)" id="ss30">30</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="subscriberNum(180)" id="ss180">180</a> |
                                    <a href="#" class="analysis-duration-not-selected"
                                       onclick="subscriberNum(365)" id="ss365">365</a>
                                    days
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<!---------------------------------------->
<!---------------------------------------->

<div style="padding: 2em;"></div>
</body>
</html>