<!DOCTYPE html>
<html>
<head>
    <title>Home - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/profile.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerSelected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right; vertical-align: center">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><img src="../static/images/avatar1.jpg"
                                                                 class="header-avatar-image"></a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<div class="profile-section webfont">
    <div style="text-align: center">
        <img src="../static/images/avatar1.jpg" class="avatar-image">
    </div>
    <div class="profile-name">
        Abracadabra
    </div>
    <div class="profile-follow-info">
        <table width="100%">
            <col width="50%"/>
            <col width="50%"/>
            <tr style="">
                <td style="text-align: right; border-right: #b6b6b6 1px solid; color: #666666;">
                    Following: 123&nbsp;
                </td>
                <td style="text-align: left;color: #666666;">
                    &nbsp;Follower: 321
                </td>
            </tr>
        </table>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->

<table class="profile-button-table">
    <col width="33.3333%"/>
    <col width="33.3333%"/>
    <col width="33.3333%"/>
    <tr>
        <td class="profile-button-table-cell">
            Subscription<br>158
        </td>
        <td class="profile-button-table-cell">
            Posts<br>158
        </td>
        <td class="profile-button-table-cell">
            Series<br>158
        </td>
    </tr>
    <tr>
        <td class="profile-button-table-cell">
            Stars<br>158
        </td>
        <td class="profile-button-table-cell">
            Analysis
        </td>
        <td class="profile-button-table-cell">
            Setting
        </td>
    </tr>
</table>
<div style="padding: 2em;"></div>
</body>
</html>