<!DOCTYPE html>
<html>
<head>
    <title>Home - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/profile.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerSelected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right; vertical-align: center">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><img src="../static/images/avatar1.jpg"
                                                                 class="header-avatar-image"></a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<div class="profile-section webfont">
    <div style="text-align: center">
        <img src="../static/images/avatar1.jpg" class="avatar-image">
    </div>
    <div class="profile-name">
        Abracadabra
    </div>
    <div class="profile-follow-info">
        <table width="100%">
            <col width="50%"/>
            <col width="50%"/>
            <tr style="">
                <td style="text-align: right; border-right: #b6b6b6 1px solid; color: #666666;">
                    Following: 123&nbsp;
                </td>
                <td style="text-align: left;color: #666666;">
                    &nbsp;Follower: 321
                </td>
            </tr>
        </table>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div class="profile-index-section webfont">
    <table width="100%">
        <col width="20%"/>
        <col width="20%"/>
        <col width="20%"/>
        <col width="20%"/>
        <col width="20%"/>
        <tr>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a href="profile_post.html">Post (2)</a>
            </td>
            <td class="profile-index-cell-border profile-index-cell-selected">
                <a href="">Series (1)</a>
            </td>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a href="profile_subscription.html">Subscription (1)</a>
            </td>
            <td class="profile-index-cell-border profile-index-cell-unselected">
                <a href="profile_star.html">Stars (1)</a>
            </td>
            <td class="profile-index-cell-unselected">
                <a href="profile_analysis.html">Analysis</a>
            </td>
        </tr>
    </table>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div class="webfont" style="margin: 1em 12.5%;">
    <div class="series-subscription-card">
        <table cellpadding="0" cellspacing="0">
            <col width="12em;"/>
            <col width="80%"/>
            <col width="9%;"/>
            <tr>
                <!-- Image Cover -->
                <td>
                    <img src="../static/images/samplePost/seriesCover2.jpg" class="series-cover-image">
                </td>
                <!-- Series Description -->
                <td>
                    <div style="padding: 0 1.5em">
                        <div class="subscription-series-title">
                            <a href="">Created Series Title Placeholder</a>
                        </div>
                        <div class="subscription-series-date">
                            <span class="semibold">Created On: </span>September 2, 2018
                        </div>
                        <div class="subscription-series-date">
                            <span class="semibold">Subscribers: </span>24601
                        </div>
                        <div class="subscription-series-tag">
                            <a href="">#tag1</a>
                            <a href="">#tag2</a>
                            <a href="" class="series-add-tag">+</a>
                        </div>
                    </div>
                </td>
                <!-- Unsubscribe -->
                <td>
                    <div class="subscription-series-unsubscribe">
                        <a href=""><i class='far fa-edit'></i> Edit</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!---------------------------------------->
<!---------------------------------------->

<div style="padding: 2em;"></div>
</body>
</html>