<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/search.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/profile.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/follow.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function hideAndShow() {
            var x = document.getElementById("searchFilter");
            var y = document.getElementById("advanceToHide");
            var z = document.getElementById("advanceToShow");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "block";
                z.style.display = "none";
                var i = 0;
                while (i < 20) {
                    document.getElementById("genre_" + i).checked = true;
                    i = i + 1;
                }
                document.getElementById("searchIn1").checked = true;
                document.getElementById("searchIn2").checked = true;
                document.getElementById("searchIn3").checked = true;
                document.getElementById("searchIn4").checked = true;
            } else {
                x.style.display = "none";
                y.style.display = "none";
                z.style.display = "block";
            }
        }

        function unfollow_followname(e) {
            e.preventDefault()
            var id = e.target.id
            var index = id.lastIndexOf('_')
            var username1 = (id.substring(19, index))
            var username2 = (id.substring(index + 1, e.target.id.length))
            $.ajax({
                type: "POST",
                url: 'unfollow_follow',
                data: {username1: username1, username2: username2},
                cache: false,
                success: function (data) {
                    if (data == "Unfollow Success!") {
                        ($('#' + id).text("  Follow"))
                        ($('#' + id).prepend("<i class='fas fa-plus'></i>"))
                        // location.reload();
                    }
                    else if (data == "Follow Success!") {
                        ($('#' + id).text("  Unfollow"))
                        ($('#' + id).prepend("<i class='fas fa-minus'></i>"))
                    }
                },
                error: function () {
                    alert(arguments[1]);
                }
            });
        }
    </script>
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search" class="headerSelected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a th:href="'view_profile?user=' + ${User.getUsername()}" class="headerUnselected">
                            <image th:src="'data:image/png;base64,'+${User.getAvatar()}"
                                   class="header-avatar-image"></image>
                        </a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->

<table class="mainContent webfont" style="border-spacing: 1em;">
    <tr>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Left Part -->
        <td style="vertical-align: top;">
            <form id="searchForm" method="post" action="searchForm"></form>
            <table width="100%" style="margin-bottom: 0.5em;" cellpadding="0.5em" cellspacing="0">
                <col width="80%"/>
                <col width="1%"/>
                <col width="19%"/>
                <tr>
                    <td>
                        <input type="text" placeholder="Boom" name="searchContent"
                               class="searchTextfield" form="searchForm"
                               th:value="${searchContent}"
                               required>
                    </td>
                    <td></td>
                    <td>
                        <input type="submit" value="Search" class="button" form="searchForm">
                    </td>
                </tr>
            </table>
            <div style="width: 100%;">
                <div style="margin-top: -0.75em;" id="advanceToShow">
                    <a class="advance-search-title" href="#" onclick="hideAndShow()">Advance Search <i
                            class='fas fa-caret-down' style="text-decoration: underline;"></i></a>
                </div>
                <div style="margin-top: -0.75em; display: none;" id="advanceToHide">
                    <a class="advance-search-title-hide" href="#" onclick="hideAndShow()">Advance Search <i
                            class='fas fa-caret-up' style="text-decoration: underline;"></i></a>
                </div>
                <div id="searchFilter" style="margin-left: 1em; display: none; font-size: 1em; color: #242424;">
                    <div>
                        <span class="semibold">Genre: </span>
                        <span th:each="genre, iter: ${genreList}">
                            <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                <input type="checkbox" name="genre" th:value="${genre}" form="searchForm" checked
                                       th:id="'genre_' + ${iter.index}"><span th:text="' ' + ${genre}"></span>
                            </span>
                        </span>
                    </div>
                    <div hidden style="margin-top: 0.25em">
                        <span class="semibold">Filter: </span>
                        <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                            <input type="checkbox" name="filter" value="hashtag" checked
                                   form="searchForm" id="searchIn1"
                                   selected> Hashtag
                        </span>
                        <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                            <input type="checkbox" name="filter" value="post" checked
                                   form="searchForm" id="searchIn2"
                                   selected> Post
                        </span>
                        <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                            <input type="checkbox" name="filter" value="series" checked
                                   form="searchForm" id="searchIn3"
                                   selected> Series
                        </span>
                        <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                            <input type="checkbox" name="filter" value="user" checked
                                   form="searchForm" id="searchIn4"
                                   selected> User
                        </span>
                    </div>
                </div>
            </div>
            <!---------------------------------------->
            <!----------- Search Filter -------------->
            <div class="searchFilterContainer">
                <table width="100%" style="padding: 0.25em 0;">
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <tr>
                        <td>
                            <div class="searchFilter-selected">
                                <a href="#">All (<span th:text="${searchResultCount[0]}"></span>)</a>
                            </div>
                        </td>
                        <td style="border-left: #cccccc 1px solid;">
                            <div class="searchFilter">
                                <a href="#">Hashtag (<span th:text="${searchResultCount[1]}"></span>)</a>
                            </div>
                        </td>
                        <td style="border-left: #cccccc 1px solid;">
                            <div class="searchFilter">
                                <a href="#">Post (<span th:text="${searchResultCount[2]}"></span>)</a>
                            </div>
                        </td>
                        <td style="border-left: #cccccc 1px solid;">
                            <div class="searchFilter">
                                <a href="#">Series (<span th:text="${searchResultCount[3]}"></span>)</a>
                            </div>
                        </td>
                        <td style="border-left: #cccccc 1px solid;">
                            <div class="searchFilter">
                                <a href="#">User (<span th:text="${searchResultCount[4]}"></span>)</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!---------------------------------------->
            <!------------ Search Error -------------->
            <span th:if="${searched}">
            <div th:if="${searchResultList.size() == 0}" class="searchError">
                No Result Found
            </div>
                <!---------------------------------------->
                <!----------- Search Result -------------->
            <div th:unless="${searchResultList.size() == 0}">
                <span th:each="result, iter:${searchResultList}">
                    <!------------- User Result ------------->
                    <span th:if="${result.resultType.equals('USER')}" th:id="'U' + ${iter.index}">
                        <div class="searchResultOuterContainer">
                            <div class="searchResultInnerContainer">
                                <table width="100%">
                                    <col width="15%"/>
                                    <col width="65%"/>
                                    <col width="20%"/>
                                    <tr>
                                        <td style="text-align: center;">
                                            <a th:href="'view_profile?user=' + ${result.userData.user.getUsername()}">
                                                <image th:src="'data:image/png;base64,'+${result.userData.user.getAvatar()}"
                                                       class="follow-avatar-image"></image>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="follow-username"
                                               th:href="'view_profile?user=' + ${result.userData.user.getUsername()}"
                                               th:text="${result.userData.user.getUsername()}"></a>
                                            <span th:if="${result.userData.user.getGender() == 'male'}"
                                                  class="follow-male"><i class='fas fa-mars'></i></span>
                                            <span th:unless="${result.userData.user.getGender() == 'male'}"
                                                  class="follow-female"><i class='fas fa-venus'></i></span>
                                        </td>
                                        <td>
                                            <div class="subscription-series-unsubscribe"
                                                 th:if="${result.userData.followed}">
                                                <a href="#"
                                                   onclick="unfollow_followname(event)"
                                                   th:id="'unfollow_followname'+ ${User.getUsername()}+'_'+${result.userData.user.getUsername()}"
                                                ><i class='fas fa-minus'></i> Unfollow</a>
                                            </div>
                                            <div class="subscription-series-unsubscribe"
                                                 th:unless="${result.userData.followed}">
                                                <a href="#"
                                                   th:name="'unfollow_followname'+ ${User.getUsername()}+'_'+${result.userData.user.getUsername()}">
                                                    <i class='fas fa-plus'></i> Follow</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </span><!-- End Of User -->
                    <!------------- Series Result ------------->
                    <span th:if="${result.resultType.equals('SERIES')}">
                        <div class="searchResultOuterContainer">
                            <div class="searchResultInnerContainer">
                                <table width="100%">
                                    <col width="12em;"/><col width="65%"/><col width="20%;"/>
                                    <tr>
                                        <td style="text-align: center;">
                                            <a style="text-decoration: none"
                                               th:href="'singleSeries?id=' + ${result.seriesData.series.getSeriesID()} + '&index=0'">
                                                <img th:src="'data:image/png;base64,'+${result.seriesData.series.getCover()}"
                                                     class="series-cover-image">
                                            </a>
                                        </td>
                                        <td>
                                            <div style="padding: 0 1.5em">
                                                <div class="subscription-series-title">
                                                    <a th:href="'singleSeries?id=' + ${result.seriesData.series.getSeriesID()} + '&index=0'"><span
                                                            th:text="${result.seriesData.series.getSeriesName()}"></span></a>
                                                </div>
                                                <div class="subscription-series-date">
                                                    <span th:text="${result.seriesData.series.getDescription()}"></span>
                                                </div>
                                                <div class="subscription-series-date">
                                                    <span class="semibold">Created On: </span><span
                                                        th:text="${result.seriesData.creationDate()}"></span>
                                                </div>
                                                <div class="subscription-series-date">
                                                    <span class="semibold">Subscribers: </span><span
                                                        th:text="${result.seriesData.subscriptionCount}"></span>
                                                </div>
                                                <div class="subscription-series-date">
                                                    <span class="semibold">Open For Wiki: </span>
                                                    <span th:if="${result.seriesData.series.isPublicEditing()}"
                                                          th:text="'Yes'"></span>
                                                    <span th:unless="${result.seriesData.series.isPublicEditing()}"
                                                          th:text="'No'"></span>
                                                </div>
                                                <div class="subscription-series-tag">
                                                    <span th:if="${!result.seriesData.series.getPrimaryGenre().equals('None')}">
                                                        <a href="#">#<span
                                                                th:text="${result.seriesData.series.getPrimaryGenre()}"></span></a>
                                                    </span>
                                                    <span th:if="${!result.seriesData.series.getSecondaryGenre().equals('None')}">
                                                        <a href="#">#<span
                                                                th:text="${result.seriesData.series.getSecondaryGenre()}"></span></a>
                                                    </span>
                                                    <span th:each="tag, iter: ${result.seriesData.tags}">
                                                        <span th:if="${tag != null}">
                                                            <a href="#">#<span th:text="${tag}"></span></a>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="margin: 0.75em 0;">
                                                <div th:if="${result.seriesData.owner}"
                                                     class="subscription-series-unsubscribe">
                                                    <a th:href="'/editSeries?id=' + ${result.seriesData.series.getSeriesID()}"><i
                                                            class='far fa-edit'></i> Edit</a>
                                                </div>
                                            </div>
                                            <div th:if="${result.seriesData.subscribed}"
                                                 class="subscription-series-unsubscribe">
                                                <a href="#"><i class='fas fa-minus'></i> Unsubscribe</a>
                                            </div>
                                            <div th:if="${!result.seriesData.subscribed && !result.seriesData.owner}"
                                                 class="subscription-series-unsubscribe">
                                                <a href="#"><i class='fas fa-plus'></i> Subscribe</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </span> <!-- End Of Series -->
                    <!------------- Hashtag Result ------------->
                    <span th:if="${result.resultType.equals('HASHTAG')}">
                        <div class="searchResultOuterContainer">
                            <div class="searchResultInnerContainer">
                                <table width="100%">
                                    <col width="50%"/>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <tr>
                                        <td style="text-align: center;">
                                            <div class="searchResult-tag">
                                                <a href="#">
                                                    # <span th:text="${result.hashTagData.hashtag}"></span>
                                                </a>
                                            </div>
                                        </td>
                                        <td style="text-align: center; color: #3c3c3c">
                                            <span class="semibold">Post(s): </span>
                                            <span th:text="${result.hashTagData.postCount}"></span>
                                        </td>
                                        <td style="text-align: center; color: #3c3c3c">
                                            <span class="semibold">Series: </span>
                                            <span th:text="${result.hashTagData.seriesCount}"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </span><!-- End Of Hash Tag -->
                </span><!-- End Of For Each -->
            </div>
            </span>
        </td>
        <!---------------------------------------->
        <!---------------------------------------->
        <!---------------------------------------->
        <!-- Right Part -->
        <td class="profileColumn-td">
            <div class="profileColumn">
                <!------------------------------------>
                <!-- Profile Info -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a href="">
                                    <div style="padding: 1em 0;">
                                        <span class="semibold" style="font-size: 1.05em;">Following</span><br>123
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">Follower</span><br>3000
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="">
                                    <div>
                                        <span class="semibold" style="font-size: 1.05em;">My Post</span><br>20
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Creation Link -->
                <div style="border-bottom: #f3f3f3 2px solid;">
                    <table style="width: 100%; text-align: center; border-spacing: 5px;">
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <col width="33.333333%"/>
                        <tr>
                            <td class="button-link">
                                <a href="/createPostOption">
                                    <div style="padding: 1em 0;">
                                        <i class='fas fa-pen-nib button-icon'></i><br>Single
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a href="createSeries">
                                    <div>
                                        <i class='fas fa-sticky-note button-icon'></i><br>Series
                                    </div>
                                </a>
                            </td>
                            <td class="button-link">
                                <a th:href="'view_profile_star?user=' + ${User.getUsername()}">
                                    <div>
                                        <i class='fas fa-star button-icon'></i><br>Stars
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!------------------------------------>
                <!-- Top Search -->
                <div class="top-search-block">
                    <div style="color: #9a9a9a;" class="semibold">
                        Top Search
                    </div>
                    <div class="button-link" style="line-height: 1.6; padding-left: 1em; padding-top: 0.5em">
                        <a href=""># 1 DC</a><br>
                        <a href=""># 2 batman</a><br>
                        <a href=""># 3 irony</a><br>
                        <a href=""># 4 crisis</a><br>
                        <a href=""># 5 detective</a><br>
                        <a href=""># 6 dark</a><br>
                        <a href=""># 7 who</a><br>
                        <a href=""># 8 flash</a><br>
                        <a href=""># 9 the end</a><br>
                        <a href="">#10 action</a><br>
                    </div>
                </div>
            </div>
            <div></div>
        </td>
    </tr>
</table>

</body>
</html>