<!DOCTYPE html>
<html>
<head>
<title>Search Result</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<!--div class="header"-->
<table class="header webfont semibold">
        <tbody style="padding: 0; margin: 0;">
        <tr>
            <!-- Left Part -->
            <td>
                <table style="padding: 0; margin: 0;">
                    <tr>
                        <td class="headerCellPadding">
                            <div class="logo"></div>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerSelected">Home</a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected">Discover</a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected">Search</a>
                        </td>
                    </tr>
                </table>
            </td>
            <!-- Right Part -->
            <td style="width: 5em;">
                <table style="padding: 0; margin: 0; align: right;">
                    <tr style="align: right;">
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                        </td>
                        <td class="headerCellPadding">
                            <a href="" class="headerUnselected"><i class='fas fa-user-circle headerIcon'></i></a>
                        </td>
                        <td class="headerCellPadding"></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
<div class = "body-container">
    <div class="main-content">
        <div class="posts">
            <div class="poster-info">
                <div class="posts-profile-picture"></div>
                <div class="posts-poster-name">Abracadabra</div>
                <div class="posts-date">4/16/2019</div>
            </div>
            <div class="post-pictures"></div>
            <div class="post-reaction">
                <div class="forward">Foward(155)</div>
                <div class="coment">Coment(233)</div>
                <div class="starts">Starts(16)</div>
                <div class="likes">Like(89)</div>
                <div class="more">
                    <div class="more-report">Report</div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side-bar">
        <div calss="first-session">
            <div class="following">Following: 133</div>
            <div class="follower">Follower: 221</div>
            <div class="post">Post: 888</div>
        </div>
        <div class="second-session">
            <div class="single-button">
                Single
            </div>
            <div class="series-button">
                Series
            </div>
            <div class="start-button">
                Stars
            </div>
        </div>
        <div class="third-session">
            <div class="third-session-title">
                Top Search:
            </div>
            <div class="top-key-word">#1</div>
            <div class="top-key-word">#2</div>
            <div class="top-key-word">#3</div>
            <div class="top-key-word">#4</div>
            <div class="top-key-word">#5</div>
            <div class="top-key-word">#6</div>
            <div class="top-key-word">#7</div>
            <div class="top-key-word">#8</div>
            <div class="top-key-word">#9</div>
            <div class="top-key-word">#10</div>

        </div>
    </div>

</div>
</body>
</html>