<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Setting</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/setting.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            $('input[name=confirm-new-password],input[name=new-password]').on("input propertychange",function() {
                var pwd = $('input[name=new-password]').val();
                var pwd1 = $('input[name=confirm-new-password]').val();
                if(pwd == pwd1)
                {
                    $('#Confirm_Password').css("color","green");
                    $('input[name=submit]').attr("disabled",false);
                }
                else {
                    $('#Confirm_Password').css("color","red");
                    $('input[name=submit]').attr("disabled",true);
                }
            });

            $('#upgrade,#downgrade').click(function () {
                $.ajax({
                    type : "GET",
                    url : 'upgrade_downgrade',
                    data:{userstatus: [[${User.getMembership()}]]},
                    // dataType : "json",
                    cache : false,
                    success : function(data) {
                        if(data != null){
                            alert(data)
                            location.reload()
                        }
                        else {
                            alert("777777")
                        }
                    },
                    error: function(){
                        alert(arguments[1]);
                    }
                });

            })



            $('#profile-form').submit(function(event) {
                event.preventDefault();
                var form = new FormData(document.getElementById("profile-form"));
                $.ajax({
                    type : "POST",
                    url : 'changeSetting',
                    data:form,
                    // dataType : "image/jpg",
                    contentType: false,
                    processData: false,
                    cache : false,
                    success : function(data) {
                        if(data == "Updated Success!"){
                            alert(data)
                            // var newsrc = 'data:image/png;base64,'+data[1]
                            location.reload();
                            // var User =/*[[${message}]]*/ 'default';
                            // alert(User.getUsername())
                            // $('#useravatar').attr("src", newsrc)
                            //
                            //
                            // $('input[name=new-password]').val(data[2])
                            // $('input[name=confirm-new-password]').val(data[2])
                            // $('#useravatar').attr("src", newsrc)
                            // $('#useravatar').attr("src", newsrc)
                            // $('#useravatar').attr("src", newsrc)
                            // alert( $('#useravatar').attr("src"))

                        }
                        else {
                            alert(data)
                        }
                    },
                    error: function(){
                        alert(arguments[1]);
                    }
                });
            })
        });
    </script>
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/mainPage" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover.html" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search.html" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="/setting" class="headerSelected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="profile_post.html" class="headerUnselected"><i
                                class='fas fa-user-circle headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->
<div style="padding: 3em 30%;" class="webfont">
    <form id="profile-form" method="POST" action="/changeAvatar" enctype="multipart/form-data">
    <div class="setting-outer-container">
        <!-- Title -->
        <div class="setting-title semibold">Profile</div>
        <!-- Avatar-->
        <div class="setting-inner-container">
            <table style="border-spacing: 0; width: 100%;">
                <col width="25%"/>
                <col width="50%"/>
                <col width="25%"/>
                <tr>
                    <td class="setting-subtitle">
                        Avatar
                    </td>
                    <td style="text-align: center;">
                        <image id="useravatar"th:src="'data:image/png;base64,'+${User.getAvatar()}" class="setting-avatar"></image>
                    </td>
                    <td style="text-align: right">
                        <input type="file" accept=".jpg,.png" style="display: none;" id="new-avatar"  name = "file">
                        <span class="add-img-button-container">
                            <input type="button" value="Change" class="setting-save-btn"
                                   onclick="document.getElementById('new-avatar').click();"/>
                        </span>

                    </td>
                </tr>
            </table>
        </div>
        <!-- Content -->
        <div class="setting-inner-container">
            <table style="border-spacing: 0; width: 100%;">
                <col width="25%"/>
                <col width="75%"/>
                <tr>
                    <td class="setting-subtitle">Username</td>
                    <td>
                        <div th:text="${User.getUsername()}"></div>
                    </td>
                </tr>
                <tr>
                    <td class="setting-subtitle">Password</td>
                    <td>
                        <input type="password"  name="new-password" class="setting-textfield"  th:value="${User.getPassword()}">
                    </td>
                </tr>
                <tr>
                    <td class="setting-subtitle" id = "Confirm_Password">Confirm Password</td>
                    <td>
                        <input type="password"  name="confirm-new-password"
                               class="setting-textfield" th:value="${User.getPassword()}">
                    </td>
                </tr>
                <tr>
                    <td class="setting-subtitle">Email</td>
                    <td>
                        <input type="email" id = "email"  name="new-email" class="setting-textfield" th:value="${User.getEmail()}">
                    </td>
                </tr>
                <tr>
                    <td class="setting-subtitle">Gender</td>
                    <td>
                        <table style="border-spacing: 0; width: 100%;">
                            <col width="50%">
                            <col width="50%">
                            <tr>
                                <td>
                                    <input type="radio" value="male" name="new-gender"
                                           th:checked="${User.getGender() == 'male'}"> Male
                                </td>
                                <td>
                                    <input type="radio" value="female" name="new-gender"
                                           th:checked="${User.getGender() == 'female'}"> Female
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height: 0.5em">
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <a href="" class="setting-edit-btn"><i class='far fa-edit'></i> Edit</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="" class="setting-cancel-btn">Cancel</a></td>
                    <td>
                        <input type="submit" id = "changeSetting" class="setting-save-btn" value="Save" name="submit">
                    </td>
                </tr>
            </table>
        </div>

    </div>
    </form>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div style="padding: 0em 30%;" class="webfont">
    <div class="setting-outer-container">
        <!-- Title -->
        <div class="setting-title semibold">Account</div>
        <!-- Plan -->
        <div class="setting-inner-container">
            <table style="border-spacing: 0; width: 100%;">
                <col width="30%"/>
                <col width="40%"/>
                <col width="30%"/>
                <tr th:if="${User.getMembership()} == 'none'">
                    <td class="setting-subtitle">Current Plan</td>
                    <td>
                        <div>Basic</div>
                    </td>
                    <td>
                        <a id = "upgrade"class="setting-upgrade-btn" style="cursor: pointer;">Upgrade</a>
                    </td>
                </tr>
                <tr th:unless="${User.getMembership()} == 'none'">
                    <td class="setting-subtitle">Current Plan</td>
                    <td>
                        <div>Premium</div>
                    </td>
                    <td>
                        <a id = "downgrade"class="setting-upgrade-btn" style="cursor: pointer;">DownGrade</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="setting-inner-container">
            <a href="" class="setting-reset-account-btn">Reset Account</a>
        </div>
        <div class="setting-inner-container">
            <a href="closeAccount" class="setting-close-account-btn">Close Account</a>
        </div>
    </div>
</div>
<!---------------------------------------->
<!---------------------------------------->
<div style="padding: 5em"></div>
</body>
</html>