<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/login.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('input[name=passwordConfirm],input[name=password]').on("input propertychange",function() {
                var pwd = $('input[name=password]').val();
                var pwd1 = $('input[name=passwordConfirm]').val();
                if(pwd == pwd1)
                {
                    $('#confirmpass').css("color","green");
                    $('input[name=submit]').attr("disabled",false);
                }
                else {
                    $('#confirmpass').css("color","red");
                    $('input[name=submit]').attr("disabled",true);
                }
            });

            $('input[name=username]').on("input propertychange",function() {
                $.ajax({
                    type : "GET",
                    url : 'checkusername',
                    data:{ username: $('input[name=username]').val()},
                    cache : false,
                    success : function(data) {
                        $('#usernameError').text(data);
                    },
                    error: function(){
                        alert(arguments[1]);
                    }
                });
            })
        });
    </script>
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="#" class="headerSelected">Celeste</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<!--/div-->
<div class="loginBlock webfont">
    <p class="loginTitle webfont">Join Celeste</p>
    <form action="signUpSignIn" method="post">
        <div class="loginInfo webfont" id = "uuu">
            Username: <span id="usernameError" style="color:#d33f42;"></span><br>
        </div>
        <input type="text" name="username" value="" maxlength="24" class="loginTextfield webfont" required><br>

        <div class="loginInfo webfont">
            Password:<br>
        </div>
        <input type="password" name="password" value="" maxlength="24" class="loginTextfield webfont" required><br>

        <div id = "confirmpass"class="loginInfo webfont">
            Confirm Password: <br>
        </div>
        <input type="password" name="passwordConfirm" value="" maxlength="24" class="loginTextfield webfont" required><br>

        <div class="loginInfo webfont">
            Email Address: <br>
        </div>

        <input type="email" name="email" value="" class="loginTextfield webfont" ><br>




        <div class="webfont loginInfo">
            <table style="width: 100%;">
                <col width="34%"/>
                <col width="33%"/>
                <col width="33%"/>
                <tr>
                    <td>
                        Gender:
                    </td>
                    <td>
                        <input type="radio" value="male" checked="checked" name="gender"> Male
                    </td>
                    <td>
                        <input type="radio" value="female" name="gender"> Female
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <!-- Display error message if necessary -->
        <div class="error webfont">

        </div>
        <input type="submit" value="Sign Up" class="button webfont" name = "submit">
    </form>
    <div style="width: 100%" class="linkText">
        <a href="backtosignin">
            Have an account? Sign In!
        </a>
    </div>
</div>
<div style="height: 45em;">
</div>
</body>
</html>