<!DOCTYPE html>
<html>
<head>
    <title>Upload - Celeste</title>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Style Sheet -->
    <link href="../static/stylesheet/theme.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/fonts.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/home.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheet/createPost.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <a href="home.html" class="headerUnselected">Home</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="discover.html" class="headerUnselected">Discover</a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="search.html" class="headerUnselected">Search</a>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-envelope headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-cog headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding">
                        <a href="" class="headerUnselected"><i class='fas fa-user-circle headerIcon'></i></a>
                    </td>
                    <td class="headerCellPadding"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div style="height: 2.75em;"></div>
<!---------------------------------------->
<!---------------------------------------->
<form id="upload-post">
    <table style="width: 100%; padding: 2em 25%;" class="webfont">
        <!-- Title -->
        <tr>
            <td>
                <div class="semibold create-post-title">Create Post</div>
            </td>
        </tr>
        <!-- Description -->
        <tr>
            <td>
                <textarea class="content-textarea" placeholder="Enter Optional Text Here"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <div class="char-count">(0/140)</div>
            </td>
        </tr>
        <!-- Images -->
        <tr>
            <td>
                <div>
                    <img src="../static/images/samplePost/S-1-1.jpg" class="uploaded-image">
                    <input type="file" accept="image/*" style="display: none;" id="selectedImg">

                </div>
                <div style="text-align: right; margin-top: 1em">
                    <span class="add-img-button-container">
                    <input type="button" value="Add Image" class="add-img-button" form="upload-post"
                           onclick="document.getElementById('selectedImg').click();"/>
                    </span>
                </div>
            </td>
        </tr>
    </table>
</form>
<!---------------------------------------->
<!---------------------------------------->
<!-- Footer Banner -->
<table class="footer webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <td></td>
        <!-- Right Part -->
        <td style="width: 6em;">
            <a>
                Save
            </a>
        </td>
        <td style="width: 6em;">
            <a>
                Upload
            </a>
        </td>
    </tr>
    </tbody>
</table>
<!---------------------------------------->
<!---------------------------------------->

</body>
</html>