
.profileColumn-td {
    padding: 0em 0em;
    width: 21em;
    vertical-align: top;
}

.profileColumn {
    background: white;
    border-radius: 5px;
}

.mainContent {
    width: 100%;
    padding: 1em 2em;
}

.button-link {
    border-radius: 10px;
}

.button-link a:link, a:visited {
    color: #9a9a9a;
    text-decoration: none;
}

.button-link a:hover {
    color: #218787;
    text-decoration: none;
}

.button-icon {
    font-size: 1.5em;
}

.top-search-block {
    padding: 1em;
}

.home-posts-card {
    background: white;
    border-radius: 5px;
    margin-bottom: 1em;
}

.post-avatar {
    font-size: 1.7em;
    padding: 0em 1em;
    width: 1.7em;
}

.post-author {
    font-size: 1em;
    font-weight: 500;
}

.post-time {
    font-size: 0.7em;
    color: #9a9a9a;
}

.post-image-single {
    min-height: 8em;
    max-height: 10em;
    width: 8em;
    border: #ccc 1px solid;
    border-radius: 3px;
    margin-right: 1em;
    object-fit: cover;
}

.post-image-multiple {
    width: 8em;
    height: 8em;
    border: #ccc 1px solid;
    border-radius: 3px;
    margin-right: 1em;
    object-fit: cover;
}

.imageLink:link, .imageLink:visited, .imageLink:hover {
    text-decoration: none;
}

.post-image-single:hover, .post-image-multiple:hover {
    cursor: pointer;
}

.post-text {
    padding: 0.25em 0;
    text-align: justify-all;
}

.post-action {
    padding: 0.25em;
    text-align: center;
    font-size: 0.9em;
    color: #666666;
    border-top: #ccc 1px solid;
}

.post-action-cell {
    padding: 0.25em 0;
    text-decoration: none;
}

.post-action-cell a:link, .post-action-cell a:visited {
    text-decoration: none;
    color: #9a9a9a;
}

.post-action-cell a:hover {
    color: #218787;
    text-decoration: none;
}

.post-action-liked {
    padding: 0.25em 0;
    text-decoration: none;
}

.post-action-liked a:link, .post-action-liked a:visited {
    text-decoration: none;
    color: #3973a0;
}

.post-action-liked a:hover {
    color: #9a9a9a;
    text-decoration: none;
}

.post-action-stared {
    padding: 0.25em 0;
    text-decoration: none;
}

.post-action-stared a:link, .post-action-stared a:visited {
    text-decoration: none;
    color: goldenrod;
}

.post-action-stared a:hover {
    color: #9a9a9a;
    text-decoration: none;
}

.post-action-more:link, .post-action-more:visited {
    color: #666666;
    text-decoration: none;
}

.post-action-more:hover {
    color: #218787;
    text-decoration: none;
}

.post-action-follow {
    border: #269b9b 1px solid;
    text-align: center;
    border-radius: 2px;
    font-size: 0.9em;
}

.post-action-follow a:link, .post-action-follow a:visited {
    color: #269b9b;
    text-decoration: none;
}

.post-action-follow a:hover {
    color: #30c5c5;
    text-decoration: none;
}

.post-avatar-image {
    width: 1.75em;
    border-radius: 50%;
    border: #30c5c5 1px solid;
}
