
.searchTextfield {
    align: center;
    width: 80%;
    font-size: 1em;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.button {
    color: white;
    background: #30c5c5;;
    border-color: #bababa;
    width: 15%;
    letter-spacing: 1.5px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
}

.button:hover {
    background: #269b9b;
    text-decoration: none;
}