
.searchTextfield {
    align: center;
    width: 96%;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 7px 2%;
    border: #cccccc 1px solid;
    border-radius: 3px;
}

.button {
    color: white;
    background: #30c5c5;;
    border: none;
    width: 100%;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px;
}

.button:hover {
    background: #269b9b;
    text-decoration: none;
    cursor: pointer;
}

.advance-search-title {
    font-size: 0.9em;
}

.advance-search-title:link, .advance-search-title:visited {
    color: #9a9a9a;
}

.advance-search-title:hover {
    color: #218787;
    cursor: pointer;
}

.advance-search-title-hide {
    font-size: 0.9em;
}

.advance-search-title-hide:link, .advance-search-title-hide:visited {
    color: #218787;
}

.advance-search-title-hide:hover {
    color: #9a9a9a;
    cursor: pointer;
}

.searchError {
    color: #269b9b;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
}

.searchFilterContainer {
    background: white;
    border-radius: 5px;
    margin: 0.5em 0;
    text-align: center;
}

.searchFilter, .searchFilter a:link, .searchFilter a:visited {
    color: #666666;
    text-align: center;
    text-decoration: none;
}

.searchFilter-selected a, searchFilter-selected a:link, .searchFilter-selected a:visited {
    font-weight: 500;
    color: #269b9b;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.searchFilter a:hover, .searchFilter-selected a:hover {
    cursor: pointer;
    color: #269b9b;
    font-weight: 500;
}

.searchResultOuterContainer {
    background: white;
    border-radius: 8px;
    margin: 0.5em 0;
}

.searchResultInnerContainer {
    padding: 1em;
}

.searchResult-tag, .searchResult-tag a:link, .searchResult-tag a:visited {
    font-size: 1.05em;
    text-decoration: none;
    text-align: left;
    margin: 0 1em;
    color: #269b9b;
    font-weight: 500;
}

.searchResult-tag a:hover {
    font-style: italic;
}