@charset "UTF-8";

.single-container {
    margin: 2em 19.09854851% 0 19.09854851%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
}

.single-inner-container {
    padding-top: 0.5em;
}

.single-error {
    font-size: 1.5em;
    color: #218787;
    padding: 1em;
}

.single-comment-container {
    margin: 0.25em 19.09854851% 0 19.09854851%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
}

.single-comment-inner-container {
    padding: 0.5em 0.5em 0.25em 0.5em;
}

.single-comment-textarea {
    width: 98%;
    height: 4em;
    resize: none;
    font-size: 1em;
    padding: 0.25em 1%;
    border: #b6b6b6 1px solid;
    border-radius: 5px;
}

.single-comment-submit {
    border: none;
    border-radius: 5px;
    background: #218787;
    color: white;
    margin-top: -0.4em;
    font-size: 0.92em;
}

.single-comment-submit:hover {
    background: #269b9b;
    color: white;
    cursor: pointer;
}

.char-count {
    text-align: left;
    margin-top: -0.25em;
}

.single-all-comment-container {
    margin: 0.5em 19.09854851% 0 19.09854851%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
}

.single-comment-avatar {
    font-size: 1em;
    padding: 0em 1em;
    width: 1.6em;
}

.single-comment-username:link, .single-comment-username:visited {
    font-size: 1em;
    color: #218787;
    text-decoration: none;
}

.single-comment-username:hover {
    color: #9a9a9a;
    text-decoration: none;
    cursor: pointer;
}

.follow-male {
    color: #3973a0;
}

.follow-female {
    color: #ef8898;
}

.single-comment-title {
    color: #218787;
    font-size: 1.25em;
    padding: 0.25em 0.75em;
}

/****************/
/****************/
.backSubLink:link, .backSubLink:visited, .backSubLink {
    color: #666666;
    text-decoration: none;
}

.backSubLink:hover {
    color: #aaaaaa;
}

/****************/
/****************/

.series-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: black;
    background-image: url("../images/escheresque.png");;
    margin: 0;
    color: white;
}

.series-footer-left-info {
    padding: 0.5em 1.5em;
}

.series-footer-left-title {
    font-size: 1.2em;
}

.series-footer-left-content {
    font-size: 1em;
}

.series-footer-r-btn, .series-footer-r-btn:link, .series-footer-r-btn:visited {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #30c5c5;
    border-radius: 5px;
    border: #30c5c5 1px solid;
    padding: 0.25em 0;
}

.series-footer-r-btn:hover {
    background: white;
    color: #218787;
    border: #218787 1px solid;
}

.series-image {
    padding: 0 20%;
    text-align: center;
}