@charset "UTF-8";

body {
    background-color: #f3f3f3;
    background-image: url("../images/full-bloom.png");
    margin: 0;
    min-width: 1000px;
}

.header {
    background-color: #fff;
    width: 100%;
    height: 2.5em;
    padding: 0;
    margin: 0;
    text-align: justify-all;
    font-size: 1.15em;
    position: fixed;
}

.headerIcon {
    font-size: 1.3em;
}

.headerSelected:link, .headerSelected:visited {
    color: #30c5c5;
    text-decoration: none;
    cursor: auto;
    opacity: 1.0;
}

.headerSelected:hover {
    color: #218787;
    text-decoration: none;
}

.headerUnselected:link, .headerUnselected:visited {
    color: #b6b6b6;
    text-decoration: none;
    cursor: auto;
    opacity: 1.0;
}

.headerUnselected:hover {
    color: #218787;
    text-decoration: none;
}

.headerCellPadding {
    padding: 0 0.5em;
    margin: 0;
}

.logo {
    width: 2.4em;
    padding: 0;
    margin: 0;

    background-image: url("../images/Logo.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.4em;
}

.header-avatar-image {
    border: #30c5c5 1px solid;
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: white;
    text-align: center;
}

.error-color {
    color: #c90000;
}